<!-- breadcrumb -->
<% content_for :breadcrumb do %>
  <%= link_to t(:home), home_path %>
  <%= t(:administration) %>
<% end %>

<!-- page information -->
<h4 class="header-line"><%= t(:administration) %></h4>
<p>
  <%= t(:admin_page_sub_title) %>
</p>
<br/>
<div class="clear "></div>

<div class="admin-option-small">
  <div class="pic">
    <%= image_tag "icons/suitcase.png" %>
  </div>
  <div class="admin-category">
    <%= link_to t(:cat_station_types), station_types_path %>
  </div>
  <br/>
  <div class="admin-desc">
    <p>
      <% StationType.limit(5).each do |station| %>
        <% if I18n.locale == :fr %>
          <%= station.fr %>, 
        <% else %>
          <%= station.en %>, 
        <% end %>
      <% end %>
      ...
     </p>
  </div> 
</div>

<div class="admin-option-small">
  <div class="pic">
    <%= image_tag "icons/gameplan.png" %>
  </div>
  <div class="admin-category">
    <%= link_to t(:cat_fuel_locations), fuel_locations_path %>
  </div>
  <br/>
  <div class="admin-desc">
    <p>
      <% FuelLocation.limit(5).each do |location| %>
        <% if I18n.locale == :fr %>
          <%= location.fr %>, 
        <% else %>
          <%= location.en %>,
        <% end %>
      <% end %>
      ...
     </p>
  </div> 
</div>

<div class="admin-option-small">
  <div class="pic">
    <%= image_tag "icons/fuel.png" %>
  </div>
  <div class="admin-category">
    <%= link_to t(:cat_fuel_types), fuel_types_path %>
  </div>
  <br/>
  <div class="admin-desc">
    <p>
      <% FuelType.limit(5).each do |fuel| %>
          <%= fuel.name %>, 
      <% end %>
      ...
     </p>
  </div> 
</div>

<div class="admin-option-small">
  <div class="pic">
    <%= image_tag "icons/group.png" %>
  </div>
  <div class="admin-category">
    <%= link_to t(:cat_users), users_path %>
  </div>
  <br/>
  <div class="admin-desc">
    <p><%= t(:cat_users_info) %></p>
  </div> 
</div>

<div class="admin-option-small">
  <div class="pic">
    <%= image_tag "icons/chat.png" %>
  </div>
  <div class="admin-category">
    <%= link_to t(:cat_comments), aircraft_comments_path %> 
  </div>
  <br/>
  <div class="admin-desc">
    <p><%= t(:cat_comments_info) %></p>
  </div> 
</div>

