<!-- breadcrumb -->
<% content_for :breadcrumb do %>
  <%= link_to t(:home), home_path %>
  Foire Aux Questions (FAQ)
<% end %>

<!-- header line user information -->
<h4 class="header-line">Foire Aux Questions (FAQ)</h4>
<p>
  D'autres questions? <%= link_to "Contactez nous", contact_path %>
</p>

<p class="information-box">This page is currently only available in French. Please send your questions through the 
  <%= link_to "Contact form", contact_path %>.</p>

<a name="top"></a>
<div id="faq-main-table">
  <!-- About -->
  <span class="faq-table-title">1. A propos de <i>Weight & Balance</i></span>
  <div class="faq-table">
    <ol type="1">
      <li>1.1 <a href="#about">Qu'est-ce que <i>Weight & Balance</i></a></li>
    </ol>
  </div>
  
  <!-- Models management -->
  <span class="faq-table-title">2. Gérer les modèles</span>
  <div class="faq-table">
    <ol type="1">
      <li>2.1 <a href="#add">Ajouter un avion</a></li>
      <li>2.2 <a href="#edit">Modifier un avion</a></li>
      <li>2.3 <a href="#duplicate">Dupliquer un avion</a></li>
      <li>2.4 <a href="#envelope">Ajouter une enveloppe de centrage</a></li>
      <li>2.5 <a href="#model">Ajouter un modèle</a></li>
      <li>2.6 <a href="#maker">Ajouter un avionneur</a></li>
    </ol>
  </div>
  
  <!-- Weight and balance calculations -->
  <span class="faq-table-title">3. Bilan de poids et centrage</span>
  <div class="faq-table">
    <ol type="1">
      <li>3.1 <a href="#weightbalance">Effectuer un bilan de poids et centrage</a></li>
      <li>3.2 <a href="#report">Sauvegarder un rapport</a></li>
    </ol>
  </div>
  
  <!-- User account -->
  <span class="faq-table-title">4. Compte utilisateur</span>
  <div class="faq-table">
    <ol type="1">
      <li>4.1 <a href="#add-account">Créer un compte</a></li>
      <li>4.2 <a href="#edit-account">Modifier les informations du compte</a></li>
      <li>4.3 <a href="#delete-account">Supprimer un compte</a></li>
    </ol>
  </div>
  
  <% if user_signed_in? && current_user.has_role?(:admin) %>
    <!-- Administration -->
    <span class="faq-table-title">5. Administration</span>
    <div class="faq-table">
      <ol type="1">
        <li>5.1 <a href="#stations">Stations de poids</a></li>
        <li>5.2 <a href="#fuel-tanks">Emplacements des réservoirs</a></li>
        <li>5.3 <a href="#fuel-types">Types de carburants</a></li>
        <li>5.4 <a href="#users">Utilisateurs</a></li>
        <li>5.5 <a href="#comments">Commentaires</a></li>
        <li>5.6 <a href="#delete-craft">Supprimer un avion</a></li>
        
      </ol>
    </div>
  <% end %>
</div>

<!-- About -->
<span class="faq-table-title">1. A propos de <i>Weight & Balance</i></span>

<!-- About W&B -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    1.1 <a name="about">Qu'est-ce que <i>Weight & Balance</i></a>
  </div>
  <i>Weight & Balance</i> est un outil collaboratif d'aide au calcule de bilan de poids et centrage pour l'aviation générale développé dans le cadre d'un travail de bachelor à la Haute École d'Ingénierie et de Gestion du Canton de Vaud (HEIG-VD).
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- Model management -->
<span class="faq-table-title">2. Gérer les modèles</span>

<!-- add aircraft -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    2.1 <a name="add">Ajouter un avion</a>
  </div>
  
  Vous devez disposez d'un compte utilisateur et être connecté avant de pouvoir ajouter un avion.<br/>
  Cliquez sur le lien <%= link_to "AVIONS", aircrafts_path %> dans le menu principal, sélectionnez un avionneur puis un modèle et cliquez sur le bouton <%= image_tag("mono-icons/plus16.png") %> en haut de la liste des avions.<br/><br/>
  <center><%= image_tag("faq/add_craft_1.png", :width=>"70%") %></center><br/>
  
  Si le modèle ou l'avionneur n'est pas présent dans la liste vous devrez d'abord l'ajouter pour pouvoir créer un nouvel avion.<br/><br/>
  <center><%= image_tag("faq/add_craft_2.png", :width=>"70%") %></center><br/>
  
  Saisissez le <i>call sign</i>, le <i>poids à vide</i>, le <i>bras à vide</i> ainsi que les poids maximaux au décollage (<i>mtow</i>) et à l'atterrissage (<i>mldgw</i>) puis ajouter les différentes stations de poids et les réservoirs de carburants.<br/><br/>
  
  <center><%= image_tag("faq/add_craft_3.png", :width=>"70%") %></center><br/>
  Il est possible d'ajouter de nouvelles stations de poids ainsi que d'autres réservoirs de carburant en cliquant sur le bouton <%= image_tag ("mono-icons/plus16.png") %> à côté de la catégorie désirée. A l'inverse, le bouton <%= image_tag ("mono-icons/minus16.png") %> aura pour effet de supprimer la sation ou le réservoir situé sur la même ligne.<br/><br/>
  
  Vous pouvez modifier les unités (<i>métrique</i> ou <i>US</i>) des valeurs saisies à tout moment en cliquant sur <br/><br/>
  <center><%= image_tag("faq/add_craft_4.png") %></center>
  en haut de la page.<br/><br/>
  
  Si l'image de l'avion n'est pas spécifiée, l'image du modèle sera utilisée par défaut.<br/> 
  Pour terminer, cliquez sur <i>Enregistrer l'avion</i>.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- edit aircraft -->
<div class="faq-table">  
  <div class="faq-table-subtitle">
    2.2 <a name="edit">Modifier un avion</a>
  </div>
  
  Vous devez disposez d'un compte utilisateur et être connecté pour pouvoir modifier un avion.<br/>
  Sélectionnez un avion depuis la page principale de gestion des avions puis cliquez sur le bouton <i>Modifier</i><br/><br>
    <center><%= image_tag("faq/edit_craft_1.png") %></center><br/>
  
  Vous pouvez annuler l'opération à tout moment en cliquant sur le bouton <i>Afficher</i> en haut de la page.<br/>
  Cliquez sur le bouton <i>Enregistrer l'avion</i> pour valider vos modifications.
  
  <br/>
  <a href="#top">Sommaire</a>
</div> 

<!-- duplicate aircraft -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    2.3 <a name="duplicate">Dupliquer un avion</a>
  </div>
  
  Vous devez disposez d'un compte utilisateur et être connecté pour pouvoir dupliquer un avion.<br/>
  L'opération de duplication d'un avions vous permettra d'ajouter un nouvel avion basé sur les caractéristiques techniques d'un avion existant.</br>
  Sélectionnez un avion depuis la page principale de gestion des avions puis cliquez sur le bouton <i>Dupliquer</i>. Renseignez le champ <i>call sign</i> et modifiez les éventuelles valeurs différentes.<br/>
  
  Cliquez sur le bouton <i>Enregistrer l'avion</i> pour terminer.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- add envelope -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    2.4 <a name="envelope">Ajouter une enveloppe de centrage</a>
  </div>
  
  Vous devez disposez d'un compte utilisateur et être connecté pour pouvoir ajouter une enveloppe de centrage.<br/>
  L'ajout d'une enveloppe de centrage se fait <u>après</u> la création d'un avion. Pour ajouter une enveloppe, sélectionnez un avion depuis la page
  principale de gestion des avions puis cliquez sur le lien <i>Cliquez pour ajouter une enveloppe</i>.<br/><br/>
   <center><%= image_tag("faq/add_envelope_1.png") %></center><br/>
   
   Saisissez les points limites de l'enveloppe (<i>centre de gravité</i> et <i>poids</i>) comme illustré sur l'image. Quatre points sont nécessaires au minimum mais il est possible d'en ajouter d'autres en cliquant sur le bouton <%= image_tag ("mono-icons/plus16.png") %>.
    <br/><br/>
   
   <center><%= image_tag("faq/add_envelope_2.png", :width=>"70%") %></center><br/>
   
   Pour terminer, cliquez sur le bouton <i>Ajouter</i>.
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- add model -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    2.5 <a name="model">Ajouter un modèle</a>
  </div>
  
  Vous devez disposez d'un compte utilisateur et être connecté pour pouvoir ajouter un modèle.<br/>
  Les avions étant classés par constructeur et par modèle, il est nécessaire d'ajouter un modèle avant de pouvoir ajouter un avion.<br/>
  Pour ajouter un nouveau modèle, cliquez sur le lien <%= link_to "AVIONS", aircrafts_path %> dans le menu principal, sélectionnez un avionneur puis cliquez sur le bouton <%= image_tag ("mono-icons/plus16.png") %> en haut de la liste des modèles.<br/><br/>
  <center><%= image_tag("faq/add_model_1.png", :width=>"70%") %></center><br/>
  
  Saisissez le nom du modèle et choisissez le type de carburant. Tous les avions de ce modèle utiliseront le même type de carburant. Le nom du modèle doit être unique.<br/><br/>
  <center><%= image_tag("faq/add_model_2.png", :width=>"70%") %></center><br/>
  
  Pour terminer, cliquez sur le bouton <i>Ajouter</i>.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- add maker -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    2.6 <a name="maker">Ajouter un avionneur</a>
  </div>
  
  Vous devez disposez d'un compte utilisateur et être connecté pour pouvoir ajouter un avionneur.<br/>
  Les avions étant classés par constructeur et par modèle, il est nécessaire d'ajouter un avionneur avant de pouvoir ajouter un modèle.<br/>
  Pour ajouter un nouvel avionneur, cliquez sur le lien <%= link_to "AVIONS", aircrafts_path %> dans le menu principal puis cliquez sur le bouton <%= image_tag ("mono-icons/plus16.png") %> en haut de la liste des avionneurs.<br/><br/>
  <center><%= image_tag("faq/add_maker_1.png", :width=>"70%") %></center><br/>
  
  Saisissez le nom de l'avionneur et ajouter une image optionnelle.<br/>
  Pour terminer, cliquez sur le bouton <i>Ajouter</i>.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- Weight and balance -->
<span class="faq-table-title">3. Bilan de poids et centrage</span>
<!-- do weight and balance -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    3.1 <a name="weightbalance">Effectuer un bilan de poids et centrage</a>
  </div>
  
  Sélectionnez un avion puis cliquez sur le bouton <i>Poids et centrage</i> en haut de la page.<br/><br/>
  <center><%= image_tag("faq/edit_craft_1.png") %></center><br/>
  
  Saisissez le poids des différentes stations, renseignez le volume de carburant au décollage et à l'atterrissage puis cliquez sur continuer.
  Le choix du système d'unités à cette étape sera déterminant lors de l'affichage du résultat du bilan de poids et centrage.<br/><br/>
  
  <center><%= image_tag("faq/balance_1.png", :width=>"70%") %></center><br/>
  
  Le résultat est affiché sous forme numérique et graphique. En cas d'anomalie, un message est inscrit en rouge et liste les différents problèmes détectés. Trois types d'indicateurs sont présents :<br/><br/>
  
  
  <%= image_tag("icons/valid.png") %> la valeur est dans les limites admises<br/>
  <%= image_tag("icons/warning.png") %> la valeur dépasse les limites admises mais est laissée à l'appréciation du pilote<br/>
  <%= image_tag("icons/exclamation.png") %> la valeur dépasse les limites admises de façon anormale<br/><br/>
  
  Le poids et le centre de gravité au décollage et à l'atterrissage sont également reportés sur le graphique de l'enveloppe de centrage.<br/><br/>
  
  <center><%= image_tag("faq/balance_2.png", :width=>"70%") %></center><br/>
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- weight and balance report -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    3.2 <a name="report">Sauvegarder un rapport</a>
  </div>
  Vous devez disposez d'un compte utilisateur et être connecté pour pouvoir sauvegarder un rapport de bilan de poids et centrage.<br/> 
  
  Après avoir effectué un bilan de poids et centrage, cliquez sur le bouton <i>Envoyer un rapport</i> en haut de la page.<br/><br/>
  <center><%= image_tag("faq/report.png") %></center><br/>
  
  Un e-mail, contenant les différentes valeurs numériques sera alors envoyé à l'adresse saisie lors de la création du compte utilisateur.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- User account -->
<span class="faq-table-title">4. Compte utilisateur</span>
<!-- new account -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    4.1 <a name="add-account">Créer un compte</a>
  </div>
  Il est nécessaire de s'inscrire au site pour pouvoir ajouter ou modifier des avions. L'inscription est gratuite et n'engage à rien. Tous les avions ajoutés seront disponnibles aux autres utilisateurs du site.<br/>
  
  Pour créer un compte utilisateur, cliquez sur le lien <i>Inscription</i> en haut de la page sous la bare de recherche.<br/><br/>
  <center><%= image_tag("faq/new_account_1.png") %></center><br/><br/>
  
  Saisissez un nom d'utilisateur unique, une adresse e-mail valide et un mot de passe. Il est possible d'ajouter un avatar qui sera affiché lorsque vous ajouterez un commentaire à un avion.<br/><br/>
  
  <center><%= image_tag("faq/new_account_2.png", :width=>"40%") %></center><br/><br/>
  
  Cliquez sur le bouton <i>Inscription</i> pour valider la création du compte.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- new account -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    4.2 <a name="edit-account">Modifier les informations du compte</a>
  </div>
  Il est possible de modifier les information de votre compte utilisateur à tout moment.<br/>
  Cliquez sur le lien <i>MON COMPTE</i> en haut de la page et connecté vous à l'aide de votre nom d'utilisateur ou adresse e-mail.<br/>
  Cliquez sur le bouton <i>Modifier</i> et saisissez les nouvelles informations.<br/><br/>
  
  <center><%= image_tag("faq/edit_account.png") %></center><br/>
  
  Vous pourrez également administrer (éditer ou supprimer) tous vos commentaires depuis la page <i>MON COMPTE</i>.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<!-- delete account -->
<div class="faq-table">
  <div class="faq-table-subtitle">
    4.3 <a name="delete-account">Supprimer un compte</a>
  </div>
  Cliquez sur le lien <i>MON COMPTE</i> en haut de la page et connecté vous à l'aide de votre nom d'utilisateur ou adresse e-mail.<br/>
  Cliquez sur le bouton <i>Modifier</i> puis sur <i>Fermer mon compte</i>.<br/><br/>
  
  <center><%= image_tag("faq/delete_account.png") %></center><br/>
  
  Votre compte sera alors supprimé et tous vos commentaires seront effacés. Les avions que vous avez créés seront conservés sur le site et seul un administrateur pourra les supprimer.
  
  <br/>
  <a href="#top">Sommaire</a>
</div>

<% if user_signed_in? && current_user.has_role?(:admin) %>

  <!-- Administration -->
  <span class="faq-table-title">5. Administration</span>
  
  <!-- stations -->
  <div class="faq-table">
    <div class="faq-table-subtitle">
      5.1 <a name="stations">Stations de poids</a>
    </div>
    Vous devez disposez de privilèges d'administration et être connecté avant de pouvoir ajouter ou modifier les stations de poids.<br/>
    La liste des stations de poids visible lors de l'ajout ou de l'édition d'un avion est modifiable au travers de la page d'administration.<br/>
    <br/>
    <center><%= image_tag("faq/stations_2.png", :width=>"40%") %></center><br/><br/>
    
    Cliquez sur le lien <i>ADMINISTRATION</i> en haut de la page puis cliquez sur la boîte <i>Types de stations de poids</i>.<br/><br/>
    <center><%= image_tag("faq/stations_1.png") %></center><br/><br/>
    
    Les différentes stations de poids sont listées par ordre d'apparition. L'ordre d'apparition est une valeur entière permettant de spécifier à quelle position devra apparaître la station dans les listes déroulantes.<br/><br/>
    
    <center><%= image_tag("faq/stations_3.png", :width=>"70%") %></center><br/><br/>
    
    Cliquez sur le nom d'une station pour en modifier son libellé ou son ordre d'appartition. Un nom en français et en anglais doit être fourni pour être compatible avec le mécanisme d'internationalisation de l'application.<br/>
    
    Cliquez sur le bouton <i>Nouvelle station</i> en haut de la page pour ajouter une nouvelle station de poids.
    
    <br/>
    <a href="#top">Sommaire</a>
  </div>
  
  <!-- fuel tanks -->
  <div class="faq-table">
    <div class="faq-table-subtitle">
      5.2 <a name="fuel-tanks">Emplacements des réservoirs</a>
    </div>
    Vous devez disposez de privilèges d'administration et être connecté avant de pouvoir ajouter ou modifier les emplacements des réservoirs.<br/>
    La liste des emplacements des réservoirs visible lors de l'ajout ou de l'édition d'un avion est modifiable au travers de la page d'administration.<br/>
    <br/>
    <center><%= image_tag("faq/tank_1.png", :width=>"40%") %></center><br/><br/>
    
    Cliquez sur le lien <i>ADMINISTRATION</i> en haut de la page puis cliquez sur la boîte <i>Emplacements des réservoirs</i>.<br/><br/>
    <center><%= image_tag("faq/tank_2.png") %></center><br/><br/>
    
    Les différents réservoirs sont listés par ordre d'apparition. L'ordre d'apparition est une valeur entière permettant de spécifier à quelle position devra apparaître le réservoir dans les listes déroulantes.<br/><br/>
    
    <center><%= image_tag("faq/tank_3.png", :width=>"70%") %></center><br/><br/>
    
    Cliquez sur le nom d'un réservoir pour en modifier son libellé ou son ordre d'appartition. Un nom en français et en anglais doit être fourni pour être compatible avec le mécanisme d'internationalisation de l'application.<br/>
    
    Cliquez sur le bouton <i>Nouvel emplacement</i> en haut de la page pour ajouter un nouvel emplacement de réservoir.
    
    <br/>
    <a href="#top">Sommaire</a>
  </div>
  
  <!-- fuel type -->
  <div class="faq-table">
    <div class="faq-table-subtitle">
      5.3 <a name="fuel-types">Types de carburants</a>
    </div>
    Vous devez disposez de privilèges d'administration et être connecté avant de pouvoir ajouter ou modifier les types de carburant.<br/>
    La liste des types de carburant visible lors de l'ajout ou l'édition d'un modèle est modifiable au travers de la page d'administration.<br/>
    <br/>
    <center><%= image_tag("faq/fuel_1.png", :width=>"40%") %></center><br/><br/>
    
    Cliquez sur le lien <i>ADMINISTRATION</i> en haut de la page puis cliquez sur la boîte <i>Types de carburant</i>.<br/><br/>
    <center><%= image_tag("faq/fuel_3.png") %></center><br/><br/>
    
    Les différents types de carburant sont listés avec leur densité. La densité du carburant est exprimée en kilogrammes par litres [kg/l].<br/><br/>
    
    <center><%= image_tag("faq/fuel_2.png", :width=>"70%") %></center><br/><br/>
    
    Cliquez sur le nom d'un type de carburant pour en modifier sont appelation ou sa densité.<br/>
    Cliquez sur le bouton <i>Nouveau carburant</i> en haut de la page pour ajouter un nouveau type de carburant.
    
    <br/>
    <a href="#top">Sommaire</a>
  </div>
  
  <!-- users -->
  <div class="faq-table">
    <div class="faq-table-subtitle">
      5.4 <a name="users">Utilisateurs</a>
    </div>
    Vous devez disposez de privilèges d'administration et être connecté avant de pouvoir administrer les utilisateurs.<br/>
    Supprimez un compte utilisateur ou modifiez ses privilèges au travers de la page d'administration.<br/>
    
    Cliquez sur le lien <i>ADMINISTRATION</i> en haut de la page puis cliquez sur la boîte <i>Utilisateurs</i>.<br/><br/>
    <center><%= image_tag("faq/users_1.png") %></center><br/><br/>
    
    La liste des utilisateurs inscrits ainsi que leurs privilèges sont listés par ordre alphabétique. Les utilisateurs ayant une étoile dans la colonne <i>Admin</i> disposent de droits d'administration.<br/><br/>
    
    <center><%= image_tag("faq/users_2.png", :width=>"70%") %></center><br/><br/>
    
    Cliquez sur le nom d'un utilisateur pour modifier ses privilèges.<br/><br/>
    <center><%= image_tag("faq/users_3.png", :width=>"60%") %></center><br/><br/>
    
    Le fait de décocher la case <i>user</i> n'a aucun effet. En cochant <i>admin</i> vous donnerez les droits d'administration à l'utilisateur courant. En tant qu'administrateur vous pouvez supprimer un compte d'utilisateur en cliquant sur le lien <i>Supprimer</i>.
    
    <br/>
    <a href="#top">Sommaire</a>
  </div>
  
   <!-- comments -->
  <div class="faq-table">
    <div class="faq-table-subtitle">
      5.5 <a name="comments">Commentaires</a>
    </div>
    Vous devez disposez de privilèges d'administration et être connecté avant de pouvoir administrer les commentaires.<br/>
    Supprimez et éditez les commentaires des utilisateurs au travers de la page d'administration.<br/>
    
    Cliquez sur le lien <i>ADMINISTRATION</i> en haut de la page puis cliquez sur la boîte <i>Commentaires</i>.<br/><br/>
    <center><%= image_tag("faq/comments_1.png") %></center><br/><br/>
    
    La liste des commentaires est triée par date de création.<br/><br/>
    
    <center><%= image_tag("faq/comments_2.png", :width=>"70%") %></center><br/><br/>
    
    Cliquez sur un commentaire pour l'éditer. Notez que le fait d'éditer un commentaire n'est pas transparent et son status apparaîtera comme <i>Edité</i> dans les commentaires associés à l'avion.<br/><br/>
    
    <center><%= image_tag("faq/comments_3.png", :width=>"60%") %></center><br/><br/>
    
    Cliquez sur le lien <i>Supprimer</i> à côté d'un commentaire pour le supprimer.
    
    <br/>
    <a href="#top">Sommaire</a>
  </div>
  
     <!-- comments -->
  <div class="faq-table">
    <div class="faq-table-subtitle">
      5.6 <a name="delete-craft">Supprimer un avion</a>
    </div>
    Vous devez disposez de privilèges d'administration et être connecté pour pouvoir supprimer un avion, modèle ou avionneur.<br/>
    Seuls les administrateurs peuvent supprimer les avions.
    
    Connectez vous à l'aide de votre compte administrateur puis sélectionnez un avion. Cliquez sur le bouton <i>Supprimer</i> en haut de la page pour le supprimer.<br/><br/>
    
    <center><%= image_tag("faq/del_craft.png") %></center><br/>
    
    En supprimant un modèle vous supprimerez également tous les avions associés. En supprimant un avionneurs vous supprimerez tous les modèles et avions de l'avionneur.
    
    <br/>
    <a href="#top">Sommaire</a>
  </div>
<% end %>