<%= form_for(@model, :html => { :multipart => true }) do |f| %>
  <% if @model.errors.any? %>
    <p class="error-box">
      <strong><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</strong>
      <br/>
      <% @model.errors.full_messages.each do |msg| %>
        &nbsp;&nbsp;&nbsp; - <%= msg %>
        <br/>
      <% end %>
    </p>
  <% end %>
  
  <h4><%= image_tag "icons/tag.png" %> <%= t(:model) %></h4>
  <%= image_tag "shadow-1-3.png" %>
  <br/>
  <%= t(:new_model_info) %>
  <br/>
  <br/>
  
  <!-- passes the maker id -->
  <%= f.hidden_field :maker_id, :value => @maker.id %>
  
  <div class="field">
    <%= t(:maker) %> : <strong><%= @maker.name %></strong>
  </div>
  
  <!-- model fields -->
  <div class="field">
    <%= f.label t(:model_name) %><br/>
    <%= f.text_field :name, :class=>"textInput"%>
  </div>
  
  <div class="field">
    <%= f.label t(:fuel_type) %>
  	<%= f.collection_select :fuel_type_id, @fuelTypes, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label t(:model_image) %>
    <%= f.file_field :image %>
  </div>
  
  <% unless @model.new_record? %>
    <div class="border-image">
      <%= image_tag @model.image.url(:medium), :class=>"image-back" %>
    </div>
  <% end %>
  
  <br/>
    
  <div class="actions">
    <center>
      <%= f.submit %>
    </center>
  </div>
<% end %>
