<ul class="filter">
  <li><%= t :model_add_model_info, :count=>@models.count, :maker=>@maker.name %></li>
  <li><%= link_to t(:model_add_model), :controller=>:models, :action=>:new, :maker=>@maker.id %></li>  
</ul>

<div id="thumbs">

  <% @models.each do |model| %>
  
    <div class="thumb">
      <h1><%= link_to model.name, model %></h1>
      
      <div class="thumb-details">
      
        <ul class="meta">
		      <li><strong><%=t :misc_last_updated %></strong> <%= l(model.updated_at.to_date) %></li>
				  <li><strong><%=t :misc_by %></strong> <a href="#">User</a></li> 
				  <li> <strong><%=t :misc_more %></strong> 
				    <div class="meta-tags">
				      <ul>
				        <% if model.aircrafts.count > 0 %>
    	     		    <li>
                    <%= link_to t(:model_show_aircrafts, :count=> model.aircrafts.count), :controller=>:models, :action=>:index %>
                    <%= link_to t(:model_add_aircraft), new_aircraft_path %>
    	     			  </li>
    	     		  <% else %>
                  <%= link_to t(:model_no_aircraft).html_safe, new_model_path %>
    	     		  <% end %>
  						</ul>
  				  </div>
				  </li>
				</ul>
				<!-- ENDS meta -->
        
        <div class="thumb-image">
          <%= image_tag model.image.url(:thumb) %>
        </div>
        
      </div>
      <!-- ENDS thumb-details -->
    </div>  
    <!-- ENDS thumb -->

  
  <% end %>
  
</div>
<!-- ENDS thumbs -->

