<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "new"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:show_maker), maker_path(@maker) %></li>
</ul>

<!-- page information -->
<h4 class="header-line"><%= t(:new_model) %></h4>
<p>
  <%= t(:model_new_info) %>
</p>

<div class="clear "></div>

<br/>

<div id="centered-form">
  <div class="rounded-centered">
    <%= render 'form' %>
  </div>  
</div>
