<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "show"} %>
<% end %>

<!-- actions -->
<% if user_signed_in? %>
  <ul class="filter">
    <li><%= t(:actions) %></li>
    <li><%= link_to t(:edit), edit_model_path(@model) %></li>
    <% if current_user.has_role?(:admin) %>
      <li><%= link_to t(:delete), @maker, :confirm => 'Are you sure?', :method => :delete%></li>
    <% end %>
  </ul>
<% end %>

<center>
  <p id="notice"><%= notice %></p>
</center>

<!-- model information -->
<div class="one-half-right-border">
  <h1><%= @model.name %></h1>
  
  <p id="update-info">
    <%= t(:last_update_on) %> <%= l @model.updated_at.to_date %> 
    <br/>
    <%= t(:created_on) %> <%= l @model.created_at.to_date %>
  </p>
  
  <h6><%= t(:maker) %></h6>
  <h4><%= @model.maker.name %></h4>
  <br/>
  <h6><%= t(:fuel_type) %></h6>
  <h4><%= @model.fuel_type.name %></h4>
  <br/>
  <div class="border-image">
    <%= image_tag @model.image.url(:medium) %>
  </div>
</div>

<!-- referenced aircrafts -->
<div class="one-half last">
  <div class="rounded-centered-smaller">
    <h4><%= image_tag "icons/airplane.png" %> <%= t(:referenced_aircrafts) %></h4>
    <%= image_tag "shadow-1-3.png" %>
    
    <div id="filtered_models">
      <div class="options">
        <%= link_to image_tag("mono-icons/plus16.png"), new_aircraft_path(:model=>@model.id) %>  
      </div>
    
      <% if @model.aircrafts.count > 0 %>
        <% @model.aircrafts.each do |craft| %>
          <%= link_to (image_tag "mono-icons/search16.png", :alt=>"show"), craft %> 
          <%= link_to craft.callSign, craft %><br/>
        <% end %>
      <% else %>
        <%= image_tag "mono-icons/warning16.png", :alt=>"warning" %> 
        <%= (t :no_aircraft_found) %>
      <% end %>
    </div>
  </div>
</div>

<div class="clear "></div>
<!-- ENDS 2 cols -->



