<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= link_to t(:home), home_path %>
	<%= t(:edit_account) %>
<% end %>

<!-- unit system -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:back), user_path(current_user.id) %></li>
  <li><%= link_to t(:cancel_account), registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %></li>
</ul>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<%= devise_error_messages! %>

  <div class="rounded-centered-login">
    <div id="login-content">
      <h5><%= image_tag "icons/badge.png" %> <%= t(:edit_account) %></h5>
      <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
    
      <table>
        <tr>
          <td><%= f.label t(:username) %></td>
          <td><%= f.text_field :username, :class=>"input" %></td>
        </tr>
        
        <tr>
          <td><%= f.label t(:e_mail) %></td>
          <td><%= f.email_field :email, :class=>"input" %></td>
        </tr>
        
        <tr>
          <td><%= f.label t(:password) %><br/> <i class="small-size">(<%= t(:leave_blank_no_change) %>)</i></td>
          <td><%= f.password_field :password, :autocomplete => "off", :class=>"input" %></td>
        </tr>
        
        <tr>
          <td><%= f.label t(:password_confirmation) %></td>
          <td><%= f.password_field :password_confirmation, :class=>"input" %></td>
        </tr>
        
        <tr>
          <td><%= f.label t(:current_password) %> <br/><i class="small-size">(<%= t(:need_current_password) %>)</i></td>
          <td><%= f.password_field :current_password, :class=>"input" %></td>
        </tr>
      </table>
      <br/>
      
      <%= f.label t(:avatar) %>
      <%= f.file_field :avatar %>
      <br/>
      <br/>
      <br/>
      
      <center>
        <div class="actions"><%= f.submit t(:edit) %></div>
      </center>
    </div>
  </div>

<% end %>
