<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= link_to t(:home), home_path %>
	<%= t(:sign_up) %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="rounded-centered-login">
      <div id="login-content">
        
        <h5><%= image_tag "icons/badge.png" %> <%= t(:sign_up) %></h5>
        <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
        L'inscription sur le site est gratuite et n'engage à rien.
        <br/>
        <br/>
        <table>
          <tr>
            <td><%= f.label t(:username) %></td>
            <td><%= f.text_field :username, :class=>"input" %></td>
          </tr>
        
          <tr>
            <td><%= f.label t(:e_mail) %></td>
            <td><%= f.email_field :email, :class=>"input" %></td>
          </tr>
        
          <tr>
            <td><%= f.label t(:password) %></td>
            <td><%= f.password_field :password, :class=>"input" %></td>
          </tr>
        
          <tr>
            <td><%= f.label t(:password_confirmation) %></td>
            <td><%= f.password_field :password_confirmation, :class=>"input" %></td>
          </tr>
        
        </table>
        <br/>
        <%= f.label t(:avatar) %> (<%= t(:avatar_optional) %>)
        <%= f.file_field :avatar %>
        <br/>
        <br/>
        <br/>
  
        <center>
          <div class="actions"><%= f.submit t(:sign_up) %></div>
        </center>
    
        <br/>
        <%= link_to t(:sign_in), new_user_session_path %>
        <br/>    
        <%= link_to t(:forgot_password), new_password_path('user') %>
        
      </div>
    </div>
<% end %>
