<% if action.eql?("index") %>
	<%= link_to t(:home), home_path %>
  <%= t(:aircrafts) %>
<% end %>

<% if action.eql?("new") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @model.maker.name, maker_path(@model.maker) %>
	<%= link_to @model.name, model_path(@model) %>
  <%= t(:new) %>
<% end %>

<% if action.eql?("edit") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @aircraft.model.maker.name, maker_path(@aircraft.model.maker) %>
	<%= link_to @aircraft.model.name, model_path(@aircraft.model) %>
	<%= link_to @aircraft.callSign, aircraft_path(@aircraft) %>
  <%= t(:edit) %>
<% end %>

<% if action.eql?("show") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @aircraft.model.maker.name, maker_path(@aircraft.model.maker) %>
	<%= link_to @aircraft.model.name, model_path(@aircraft.model) %>
  <%= @aircraft.callSign %>
<% end %>

<% if action.eql?("clone") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @old_craft.model.maker.name, maker_path(@old_craft.model.maker) %>
	<%= link_to @old_craft.model.name, model_path(@old_craft.model) %>
	<%= link_to @old_craft.callSign, aircraft_path(@old_craft) %>
  <%= t(:clone) %>
<% end %>

<% if action.eql?("weight_balance") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @aircraft.model.maker.name, maker_path(@aircraft.model.maker) %>
	<%= link_to @aircraft.model.name, model_path(@aircraft.model) %>
	<%= link_to @aircraft.callSign, aircraft_path(@aircraft) %>
  <%= t(:weight_and_balance) %>
<% end %>

<% if action.eql?("fly") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @aircraft.model.maker.name, maker_path(@aircraft.model.maker) %>
	<%= link_to @aircraft.model.name, model_path(@aircraft.model) %>
	<%= link_to @aircraft.callSign, aircraft_path(@aircraft) %>
  <%= link_to t(:weight_and_balance), weight_balance_aircraft_path %>
  Fly
<% end %>