<canvas id="canvas" class="envelope_drawing" width="450" height="450">
Your browser is too old! Please update to Firefox, Chrome, Safari or a similar new generation browser.
</canvas>

<script type="application/javascript">
  //before drawing values are scaled to the axis length
  //using (AXIS_LENGHT*(x - X_MIN))/(X_MAX-X_MIN) and the 
  //same for the y coordinate.

  var canvas = document.getElementById("canvas");
  var ctx;
  var xValues = new Array;
  var yValues = new Array;
  
  const PADDING = 60;
  const GRAD_LENGTH = 5;
  const GRAD_PADDING = 50;
  const AXIS_LENGTH = canvas.width - 2 * PADDING;
  const AXIS_LENGTH_OVERSTEP = 10;
  const X_ZERO = PADDING;
  const Y_ZERO = AXIS_LENGTH + PADDING;
  
  const TEXT_FONT = "8pt Arial";
  const Y_TEXT_OFFSET = 4; /* height offset = font pt/2  => 8/2 */
  
  const X_MAX = <%= @x_max %>
  const X_MIN = <%= @x_min %>
  const Y_MAX = <%= @y_max %>
  const Y_MIN = <%= @y_min %>
    
  /*---------------------*/
  function init(){
    if (canvas.getContext)  
      ctx = canvas.getContext("2d");      
    else 
      return false;
    
    loadCoordinates();
    return true;
  }
  
  /*---------------------*/
  function loadCoordinates(){
    <% @envelope.coordinates.sort_by{|c| c.order}.each do |coord| %>
      xValues.push(<%= coord.cg %>);
      yValues.push(<%= coord.weight %>);
    <%end%>
  }
  
  //adds x padding
  function xPoint(value){
    return X_ZERO + value;
  }
  
  //adds y padding
  function yPoint(value){
    return Y_ZERO - value;
  }
  
  //scales the x coordinate
  //X_MIN value is passed in the function call
  //this could be done here
  function xScale(value){
    var factor = value / (X_MAX - X_MIN);
    return xPoint(AXIS_LENGTH * factor);
  }
  
  //scales the y coordinate
  //Y_MIN value is passed in the function call
  //this could be done here
  function yScale(value){
    var factor = value / (Y_MAX - Y_MIN);
    return yPoint(AXIS_LENGTH * factor);
  }
  
  //finds the x coordinate for centering the
  //x axis label
  function xTextCentered(value, text){
    var width = ctx.measureText(text).width;
    return value - width / 2;
  }
  
  
  //draws the x and y axis with text description
  //and graduation
  function drawAxis(){    
    var yStep = ((Y_MAX - Y_MIN) / 10.0).toFixed(2);
    var xStep = ((X_MAX - X_MIN) / 10.0).toFixed(2);
    
    ctx.font = TEXT_FONT;
    ctx.strokeStyle ="#363636";
        
    var count = 0;
    
    while(count*xStep < X_MAX && xScale(count*xStep) <= (X_ZERO + AXIS_LENGTH)){
      ctx.moveTo(xScale(count*xStep), Y_ZERO);
      ctx.lineTo(xScale(count*xStep), Y_ZERO + GRAD_LENGTH);
      ctx.fillText((count*xStep + X_MIN).toFixed(2), xTextCentered(xScale(count*xStep), (count*xStep).toString()), Y_ZERO + GRAD_PADDING);
      count++;
    }
    
    count = 0;
    
    while(count*yStep < Y_MAX && yScale(count*yStep) >= yPoint(AXIS_LENGTH)){
      ctx.moveTo(X_ZERO, yScale(count*yStep));
      ctx.lineTo(X_ZERO - GRAD_LENGTH, yScale(count*yStep));
      ctx.fillText((count*yStep + Y_MIN).toFixed(2), X_ZERO - GRAD_PADDING, yScale(count*yStep) + Y_TEXT_OFFSET);
      count++;
    }
    
    ctx.save();
    
    /* x axis label */
    var xAxisLabel = X_ZERO + AXIS_LENGTH / 2;
    ctx.font= "10pt Arial";
    ctx.fillStyle = "#696969";
    ctx.fillText("Center of gravity", xTextCentered(xAxisLabel, "Center of gravity"), PADDING / 2);
    
    /* y axis label */
    ctx.translate(AXIS_LENGTH + PADDING + PADDING / 2 , (AXIS_LENGTH + 2* PADDING) / 2);
    ctx.rotate(-Math.PI/2);
    ctx.textAlign = "center";
    ctx.fillText("Weight", 0, 0);
    
    
    ctx.restore();
    ctx.stroke();
  }
  
  //draws the envelope
  function plot(){
  
    ctx.fillStyle = "rgba(109,158,206,0.2)";
    ctx.strokeStyle = "rgba(109,158,206,1.0)"; 
    
    ctx.save();  
    ctx.beginPath();
    
    ctx.moveTo(xScale(xValues[0] - X_MIN), yScale(yValues[0] - Y_MIN));
    
    for(i = 1; i < xValues.length; i++)
      ctx.lineTo(xScale(xValues[i] - X_MIN), yScale(yValues[i] - Y_MIN));
    
    ctx.closePath();
    ctx.stroke();
    ctx.fill();
    
    ctx.restore();
  }
  
  //draws the cg points in the envelope
  function weightAndBalance(){
    //checks whether we have to display weight and balance points
    //the check has to be done here otherwise we'll get a javascript error
    //because of uninitialized rails variables (@to_weight, @to_cg, …)
    <% if controller.action_name == "fly" %>
      var to_weight = <%= @to_weight %>;
      var to_cg     = <%= @to_cg %>
      var ld_weight = <%= @ld_weight %>;
      var ld_cg     = <%= @ld_cg %>
      
      ctx.save();
      
      ctx.fillStyle = "#696969";
      ctx.strokeStyle = "#000"
      
      ctx.beginPath();
        ctx.arc(xScale(to_cg - X_MIN), yScale(to_weight - Y_MIN), 5, 0, Math.PI*2, true);
        ctx.arc(xScale(ld_cg - X_MIN), yScale(ld_weight - Y_MIN), 5, 0, Math.PI*2, true);
      ctx.closePath();
      
      ctx.fill();
      ctx.stroke();
      ctx.restore();
    <% end %>
  }
       
  /*---------------------*/
  if(init()){
    drawAxis();
    plot(); 
    weightAndBalance();
  }
   
</script>