<center>
  <h6><%= t(:all_aircrafts) %></h6>
</center>
<br/>


<% if @models.count > 0 %>
  <% @models.each do |model| %>
    <% model.aircrafts.each do |craft| %>
      <%= link_to (image_tag "mono-icons/risegraph16.png", :alt=>"Editer"), weight_balance_aircraft_path(:id =>craft.id) %> 
      <%= link_to craft.callSign, craft %> <br/>
    <% end %>
  <% end %>
<% else %>
  <center>
    <%= image_tag "mono-icons/warning16.png" %> 
    <%= t(:no_aircraft_found) %>
  </center>
  <br/>
  <%= t(:add_model_first) %>
<% end %>