<!-- displays models filtered by maker -->

<div class="options">
  <%= link_to image_tag("mono-icons/plus16.png"), new_aircraft_path(:model=>@model.id) %>  
</div>

<center>
  <h6><%= @model.name %></h6>
</center>
<br/>

<% if @model.aircrafts.count > 0 %>
  <% @aircrafts.each do |craft| %>
    <%= link_to (image_tag "mono-icons/risegraph16.png", :alt=>"Editer"), weight_balance_aircraft_path(:id =>craft.id) %> 
    <%= link_to craft.callSign, craft %>
    <br/>
  <% end %>
<% else %>
  <center>
    <%= image_tag "mono-icons/warning16.png" %> 
    <%= t(:no_aircraft_found) %>
  </center>
<% end %>