<!-- displays models filtered by maker -->

<div class="options">
  <%= link_to image_tag("mono-icons/plus16.png"), new_model_path(:maker=>@maker.id) %>  
</div>


<center>
  <h6><%= @maker.name %></h6>
</center>
<br/>

<% if @models.count > 0 %>
  <% @models.each do |model| %>
    <%= link_to (image_tag "mono-icons/search16.png", :alt=>"Voir"), model %> 
    <%= link_to model.name, {:controller => :aircrafts, :action =>:filter_aircrafts, :model=>model.id}, :remote =>true %>
    <br/>
  <% end %>
<% else %>
  <center>
    <%= image_tag "mono-icons/warning16.png" %> 
    <%= t(:no_model_found) %>
  </center>
<% end %>