
<%= form_for(@aircraft) do |f| %>
  <% if @aircraft.errors.any? %>
    <p class="error-box">
      <strong><%= pluralize(@aircraft.errors.count, "error") %> prohibited this aircraft from being saved:</strong>
      <br/>
      <% @aircraft.errors.full_messages.each do |msg| %>
        &nbsp;&nbsp;&nbsp; - <%= msg %>
        <br/>
      <% end %>
    </p>
  <% end %>
  
  <!-- general details -->
  <div class="one-half">
    <div class="rounded-centered">  
      <h4><%= image_tag "icons/airplane.png" %> <%= t(:general_info) %></h4>
      <%= image_tag "shadow-1-3.png" %>
      <p><%= t(:general_info_info) %></p>    
      
      <div class="field">
        <%= f.label t(:call_sign) %><br />
        <%= f.text_field :callSign, :class=>"textInput" %>
      </div>
      
      <div class="field">
        <%= f.label t(:empty_weight) %> <span class="mass-unit">[kg]</span><br />
        <%= f.text_field :emptyWeight, :class=>"massInput" %>
      </div>
      
      <div class="field">
        <%= f.label t(:empty_arm) %> <span class="length-unit">[m]</span><br />
        <%= f.text_field :emptyArm, :class=>"lengthInput" %>
      </div>
      
      <div class="field">
        <%= f.label t(:mtow) %> <span class="mass-unit">[kg]</span><br />
        <%= f.text_field :mtow, :class=>"massInput" %>
      </div>
      
      <div class="field">
        <%= f.label t(:mldgw) %> <span class="mass-unit">[kg]</span><br />
        <%= f.text_field :mldgw, :class=>"massInput" %>
      </div>
      
      <div class="field">
        <%= f.label t(:aircraft_image) %>
        <%= f.file_field :image %>
      </div>
      
      <!-- aircraft's image is only shown when editing and a 
      specific image is available (not the default one) -->
      <div class="border-image">
        <% unless (has_default_image || controller.action_name == "clone") %>
          <%= image_tag @aircraft.image.url(:medium) %>
        <% end %>
      </div>
    
      <%= f.hidden_field :model_id, :value => @model.id %>
      
      <% if controller.action_name == "clone" %>
        <%= hidden_field_tag "cloned_from", @old_craft.id %>
      <% end %>
      
      <!-- unit system used for input -->
      <%= hidden_field_tag "units", "si", :id=>"unit_field" %>
      
      <br/>
      
      <div class="actions">
        <center>
          <%= f.submit t(:save_aircraft) %>
        </center>
      </div>
    </div>
  </div>
  
  <!-- stations and fuel tanks -->
  <div class="one-half last">
    <div class="rounded-centered">
      
      <!-- stations -->
      <h5><%= image_tag "icons/dumbell.png" %> <%= t(:weight_stations) %></h5>
      <%= image_tag "shadow-1-3.png" %>
      <p><%= t(:weight_stations_info) %></p>
      
      <!-- dynamic fields column title -->
      <table class="dynamic-header">
        <tr>
          <th class="head"><%= t(:station_type) %></th>
          <th class="head"><%= t(:arm) %> <span class="length-unit">[m]</span></th>
          <th class="head"><%= t(:max_weight) %> <span class="mass-unit">[kg]</span></th>
          <th></th>
        </tr>
      </table>

      <!-- render each row of stations -->
      <%= f.fields_for :stations do |builder| %>
        <%= render "station_fields", :f => builder %>
      <% end %>
      
      <p class="wrap"><%= link_to_add_fields image_tag("mono-icons/plus24.png"), f, :stations %></p>
      
      <!-- fuel tanks -->
      <h5><%= image_tag "icons/fuel.png" %> <%= t(:fuel) %></h5>
      <%= image_tag "shadow-1-3.png" %>
      <p><%= t(:fuel_info) %></p>
      
      <!-- dynamic fields column title -->      
      <table class="dynamic-header">
        <tr>
          <th class="head"><%= t(:location)%></th>
          <th class="head"><%= t(:arm)%> <span class="length-unit">[m]</span></th>
          <th class="head"><%= t(:volume_max)%> <span class="volume-unit">[l]</span></th>
          <th></th>
        </tr>
      </table

      <!-- render each row of fuel tanks -->
      <%= f.fields_for :fuel_tanks do |builder| %>
        <%= render "fuel_tank_fields", :f => builder %>
      <% end %>    
      
      <p class="wrap"><%= link_to_add_fields image_tag("mono-icons/plus24.png"), f, :fuel_tanks %></p>
    </div>
  </div>
  
  
  <div class="clear "></div>
  
<% end %>
