<table class="fields">
  <tr>
    <!-- combo box matches locale, fall back on english -->
    <% if I18n.locale == :fr %>
      <td><%= f.collection_select :fuel_location_id, @fuelLocations, :id, :fr %></td>
    <% else %>
      <td><%= f.collection_select :fuel_location_id, @fuelLocations, :id, :en %></td>
    <% end %>
    <td><%= f.text_field :arm, :class=>'lengthInputSmall' %></td>
    <td><%= f.text_field :volumeMax, :class=>'volumeInputSmall' %></td>
  
    <td>
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields image_tag("mono-icons/minus16.png"), f %>
    </td>
  </tr>
</table>

