<%= form_tag("fly", :method => "get") do %>
  
  <!-- WEIGHT STATIONS -->
  <div class="one-half">
    <div class="rounded-centered">  
      <h5><%= image_tag "icons/dumbell.png" %> <%= t(:weight_stations) %></h5>
      <%= image_tag "shadow-1-3.png" %>
      <p>
        <%= t(:wb_weight_stations_info) %>
      </p>
      
      <% @stations.each do |station| %>
        
        <div class="field">
          <% if I18n.locale == :fr %>
            <b><%= station.station_type.fr %></b>
          <% else %>
            <b><%= station.station_type.en %></b>
          <% end %> 
          
          <% if station.weightMax > 0 %>
            (max. <span class="static-mass"><%= station.weightMax %></span> <span class="mass-unit">[kg]</span>)
          <% end %>
          
          <br/>
          <%= text_field_tag "weights[]", '', :class => "massInput" %>
        </div>
      
      <% end %>
    </div>
  </div>
  
  <!-- FUEL -->
  <div class="one-half last">
    <div class="rounded-centered">  
  
      <!-- TAKE OFF FUEL VOLUME -->
      <h5><%= image_tag "icons/fuel.png" %> <%= t(:take_off_fuel_volume) %></h5>
      <%= image_tag "shadow-1-3.png" %>
      
      <p>
        <%= t(:wb_fuel_to_info) %>
      </p>  
    
      <% @fuel_tanks.each do |fuel| %>
        <div class="field">
          <% if I18n.locale == :fr %>
            <b><%= fuel.fuel_location.fr %></b>
          <% else %>
            <b><%= fuel.fuel_location.en %></b>
          <% end %>
          
          <% if fuel.volumeMax > 0 %>
            (max. <span class="static-volume"><%= fuel.volumeMax %></span> <span class="volume-unit">[l]</span>)
          <% end %>
          
          <br/>
          <%= text_field_tag "tofuel[]", '', :class => "volumeInput" %>
        </div>
      <% end %>
      
      <br/>
      
      <!-- LANDING FUEL VOLUME -->
      <h5><%= image_tag "icons/fuel.png" %> <%= t(:landing_fuel_volume) %></h5>
      <%= image_tag "shadow-1-3.png" %>
      
      <p>
        <%= t(:wb_fuel_ld_info) %>
      </p>
    
      <% @fuel_tanks.each do |fuel| %>
        <div class="field">
          <% if I18n.locale == :fr %>
            <b><%= fuel.fuel_location.fr %></b>
          <% else %>
            <b><%= fuel.fuel_location.en %></b>
          <% end %>
          
          <% if fuel.volumeMax > 0 %>
            (max. <span class="static-volume"><%= fuel.volumeMax %></span> <span class="volume-unit">[l]</span>)
          <% end %>
          
          <br/>
          <%= text_field_tag "ldfuel[]", '', :class => "volumeInput" %>
        </div>
      <% end %>
      
      <br/>
      <center>
        <div class="actions">
          <%= submit_tag(t(:continue)) %>
        </div>
      </center>
    </div>
  </div>
  
  <div class="clear"></div>
  
  <!-- unit system used for input -->
  <%= hidden_field_tag "units", "si", :id=>"unit_field" %>

<% end %>

