<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "clone"} %>
<% end %>

<!-- unit system -->
<ul class="filter">
  <li><%= t(:unit_system) %></li>
  <li id="si_unit" class="active"><%= t(:metric) %></li>
  <li id="us_unit" ><%= t(:us) %></li>
</ul>

<!-- header line user information -->
<h4 class="header-line">Dupliquer l'avion <%= @old_craft.callSign %></h4>
<p>
  Saisissez le nouveau call sign et modifier les informations relatives au nouvel avion. L'enveloppe de centrage sera également clonnée. Pour la modifier vous devez d'abord enregistrer le nouvel avion puis cliquer sur le bouton modifier situé sur la page de l'avion.
</p>

<div class="clear "></div>

<%= render 'form' %>