<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "edit"} %>
<% end %>

<!-- unit system -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:show), aircraft_path(@aircraft) %></li>
  <li><%= link_to t(:show_model), model_path(@aircraft.model) %></li>
  <li class="desc"><%= t(:unit_system) %></li>
  <li id="si_unit" class="active"><%= t(:metric) %></li>
  <li id="us_unit" ><%= t(:us) %></li>
</ul>

<!-- header line user information -->
<h4 class="header-line"><%= t(:edit_aircraft) %></h4>
<p>
  <%= t(:new_aircraft_info) %> 
  <u><%= t(:save_aircraft) %></u> 
  <%= t(:to_finish) %>.
</p>

<div class="clear "></div>

<%= render 'form' %>

