/* filters models and aircrafts by maker */

$('#filtered_models').html("<%= escape_javascript(render(:partial => 'filtered_models')) %>");
$('#filtered_aircrafts').html("<%= escape_javascript(render(:partial => 'filtered_all_crafts')) %>");