<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "fly"} %>
<% end %>

<% if user_signed_in? %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:send_report), report_aircraft_path, :remote=>true %></li>
</ul>

<% end %>

<center>
  <p id="notice"><%= notice %></p>
</center>

<% if @units == "si" %>
  <% mass_unit = "[kg]" %>
  <% length_unit = "[m]" %>
  <% volume_unit = "[l]" %>
<% else %>
  <% mass_unit = "[lbs]" %>
  <% length_unit = "[in]" %>
  <% volume_unit = "[gal]" %>
<% end %>


<!-- header line user information -->
<h4 class="header-line"><%= @aircraft.callSign %></h4>
<p>
  <b><%= @aircraft.model.maker.name %> <%= @aircraft.model.name %></b>
  <br/>
  <%= l Date.today %>
</p>
<br/>
<div class="clear"></div>

<div class="one-half">
  
    <% if @errors.size > 0 %>
    <center>
      <p class="error"><b/><%= t(:error_found) %></b></p>
    </center>
    <% @errors.each_value do |error| %>
      <span class="error">
        - <%= error %>
      </span>
      <br/>
    <% end %>
  <% else %>
    <center>
      <p class="passed"><%= t(:no_error_found) %></p>
    </center>
  <% end %>
  
  <br/>
  
  <table id="wb-results">
    <!-- WEIGHTS -->
    <tr>
      <% if @errors["to_weight"] %>
        <td><%= image_tag "icons/exclamation.png"%></td>
      <% else %>
        <td><%= image_tag "icons/valid.png"%></td>
      <% end %>
      
      <td><%= t(:to_weight) %></td>
      <td><span class="static-mass"><%= @to_weight.round(2) %></span></td>
      
      <td><span class="mass-unit"><%= mass_unit %></span></td>
    </tr>
    <tr>
      <% if @errors["ld_weight"] %>
        <td><%= image_tag "icons/exclamation.png"%></td>
      <% else %>
        <td><%= image_tag "icons/valid.png"%></td>
      <% end %>
      
      <td><%= t(:ld_weight) %></td>
      <td><span class="static-mass"><%= @ld_weight.round(2) %></span></td>
      <td><span class="mass-unit"><%= mass_unit %></span></td>
    </tr>
    
    
    <!-- CG -->
    <tr>
      <% if @errors["to_cg"] %>
        <td><%= image_tag "icons/exclamation.png"%></td>
      <% else %>
        <td><%= image_tag "icons/valid.png"%></td>
      <% end %>
      
      <td><%= t(:to_cg) %></td>
      <td><span class="static-cg"><%= @to_cg.round(2) %></span></td>
      <td><span class="cg-unit"><%= length_unit %></span></td>
    </tr>
    <tr>
      <% if @errors["ld_cg"] %>
        <td><%= image_tag "icons/exclamation.png"%></td>
      <% else %>
        <td><%= image_tag "icons/valid.png"%></td>
      <% end %>
      
      <td><%= t(:ld_cg) %></td>
      <td><span class="static-cg"><%= @ld_cg.round(2) %></span></td>
      <td><span class="cg-unit"><%= length_unit %></span></td>
    </tr>
    
    <!-- FUEL -->
    <tr>
      <% if @errors["to_fuel"] %>
        <td><%= image_tag "icons/exclamation.png"%></td>
      <% else %>
        <td><%= image_tag "icons/valid.png"%></td>
      <% end %>
      
      <td><%= t(:to_fuel) %></td>
      <td><span class="static-volume"><%= @to_fuel.round(2) %></span></td>
      <td><span class="volume-unit"><%= volume_unit %></span></td>
    </tr>
    <tr>
      <% if @errors["ld_fuel"] %>
        <td><%= image_tag "icons/exclamation.png"%></td>
      <% else %>
        <td><%= image_tag "icons/valid.png"%></td>
      <% end %>
      
      <td><%= t(:ld_fuel) %></td>
      <td><span class="static-volume"><%= @ld_fuel.round(2) %></span></td>
      <td><span class="volume-unit"><%= volume_unit %></span></td>
    </tr>
    
    <% @stations.each_with_index do |station, n| %>
      <% if station.weightMax < @weights[n].to_f && station.weightMax > 0 %>
        <tr>
          <td><%= image_tag "icons/warning.png"%></td>
          <td>
            <% if I18n.locale == :fr %>
              <%= station.station_type.fr %>
            <% else %>
              <%= station.station_type.en %>
            <% end %>
            (max. <span class="static-mass"><%= station.weightMax %></span>)
          </td>
          <td><span class="static-mass"><%= @weights[n].to_f.round(2) %></span></td>
          <td><span class="mass-unit"><%= mass_unit %></span></td>
        </tr>
      <% end %>
    <% end %>
  </table> 
</div>


<div class="one-half last">
  <%= render :partial => "enveloppe_drawing"%>
</div>

<div class="clear"></div>

<br/>
<br/>
<br/>

<p>
  <center>
    <%= image_tag "mono-icons/warning16.png" %> <b><%= t(:info_only_warning) %></b>
  </center>
</p>


<!-- comments -->
<%= render :partial => "shared/comments", :locals => {:allow_reply => :yes} %>