<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "index"} %>
<% end %>

<!-- page information -->
<h4 class="header-line"><%= t(:browse_all_aircrafts) %></h4>
<p>
  <%= t(:search_aircraft_info1) %>
  <%= t(:search_aircraft_click) %> 
  <%= image_tag "mono-icons/search16.png" %> 
  <%= t(:to_show_details) %>
  <%= t(:and) %> 
  <%= image_tag "mono-icons/risegraph16.png" %> 
  <%= t(:to_do_weight_balance) %>. 
  <%= t(:add_if_cannot_find) %>
  <%= image_tag "mono-icons/plus16.png" %> 
  <%= t(:to_add_it) %>.
</p>

<div class="clear "></div>
<br/>
<!-- lists all makers -->
<div class="one-third">
  <div class="rounded-centered">
    
    <h5><%= image_tag "icons/wrench.png" %> <%= t(:makers) %></h5>
    <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
    
    <div id="filtered_makers">
    
      <div class="options">
        <%= link_to image_tag("mono-icons/plus16.png"), new_maker_path %>  
      </div>
      
      <center><h6><%= link_to t(:all_makers), aircrafts_path %></h6></center>
      <br/>
      
      <% @makers.each do |maker| %>
        <%= link_to (image_tag "mono-icons/search16.png", :alt=>"Voir"), maker %> 
        <%= link_to maker.name, {:controller => :aircrafts, :action =>:filter_models, :maker=>maker.id}, :remote=>true %>
        <br/>
      <% end %>
    </div>
  </div>
</div>

<!-- lists models filtered by maker -->
<div class="one-third">
  <div class="rounded-centered">
    
    <h5><%= image_tag "icons/tag.png" %> <%= t(:models) %></h5>
    <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
    
    <div id="filtered_models">  
      <center><h6><%= t(:all_models) %></h6></center>
      <br/>
    
      <% @models.each do |model| %>
        <%= link_to (image_tag "mono-icons/search16.png", :alt=>"Voir"), model %> 
        <%= link_to model.name, {:controller => :aircrafts, :action =>:filter_aircrafts, :model=>model.id}, :remote =>true %><br/>
      <% end %>
    </div>
    
  </div>
</div>

<!-- lists aircrafts filtered by models -->
<div class="one-third">
  <div class="rounded-centered">
    
    <h5><%= image_tag "icons/airplane.png" %> <%= t(:aircrafts) %></h5>
    <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
    
    <div id="filtered_aircrafts">
      <center><h6><%= t(:all_aircrafts) %></h6></center>
      <br/>
      
      <% @aircrafts.each do |craft| %>
        <%= link_to (image_tag "mono-icons/risegraph16.png", :alt=>"Editer"), weight_balance_aircraft_path(:id =>craft.id) %> 
        <%= link_to craft.callSign, craft %><br/>
      <% end %>
    </div>
    
  </div>
</div>

<div class="clear "></div>