<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "new"} %>
<% end %>

<!-- unit system -->
<ul class="filter">
  <li><%= t(:unit_system) %></li>
  <li id="si_unit" class="active"><%= t(:metric) %></li>
  <li id="us_unit" ><%= t(:us) %></li>
</ul>

<!-- header line user information -->
<h4 class="header-line"><%= t(:new_aircraft) %></h4>
<p>
  <%= t(:new_aircraft_info) %> 
  <u><%= t(:save_aircraft) %></u> 
  <%= t(:to_finish) %>.
</p>

<div class="clear "></div>

<%= render 'form' %>


