<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "show"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <% if user_signed_in? %>
    <li><%= t(:actions) %></li>
    <li><%= link_to t(:clone), clone_aircraft_path %></li>
    <li><%= link_to t(:edit), edit_aircraft_path(@aircraft) %></li>
    <% if current_user.has_role?(:admin) %>
      <li><%= link_to t(:delete), @aircraft, :confirm => 'Are you sure?', :method => :delete%></li>
    <% end %>
  <% end %>
  <li class="desc"><%= t(:unit_system) %></li>
  <li id="si_unit" class="active"><%= t(:metric) %></li>
  <li id="us_unit" ><%= t(:us) %></li>
  <li class="desc"><%= t(:tools) %></li>
  <li><%= link_to t(:weight_and_balance), weight_balance_aircraft_path %></li>
</ul>

<center>
  <p id="notice"><%= notice %></p>
</center>

<!-- call sign, maker and model -->
<div class="craft-show-one">
  <h1><%= @aircraft.callSign %></h1>
  
  <div id="update-info">
    <%= t(:last_update_on) %> <b><%= l @aircraft.updated_at.to_date %></b> <%= t(:by) %> <b><%= @updated_by.username %></b>
    <br/>
    <%= t(:created_on) %> <b><%= l @aircraft.created_at.to_date %></b> <%= t(:by) %> <b><%= @created_by.username %></b>
  </div>
  
  <br/>
  <h6><%= t(:maker) %></h6>
  <h4><%= @model.maker.name %></h4>
  <br/>
  <h6><%= t(:model) %></h6>
  <h4><%= @model.name %></h4>
  <br/>
  
  <div class="border-image">
    <% if has_default_image %>
      <%= image_tag @model.image.url(:medium), :alt=>@model.name %>
    <% else %>
      <%= image_tag @aircraft.image.url(:medium), :alt=>@aircraft.callSign %>
    <% end %>
  </div>  
</div>

<!-- general information -->
<div class="craft-show-two last">
  <h5><%= image_tag "icons/airplane.png" %> <%= t(:general_info) %></h5>
  <%= image_tag "shadow-1-3.png" %>
  <br/>
  <table>
    <tr>
      <td><%= t(:empty_weight) %></td>
      <td><span class="static-mass"><%= @aircraft.emptyWeight %></span></td>
      <td><span class="mass-unit">[kg]</span></td>
    </tr>
    <tr>
      <td><%= t(:empty_arm) %></td>
      <td><span class="static-length"><%= @aircraft.emptyArm %></span></td>
      <td><span class="length-unit">[m]</span></td>
    </tr>
    <tr>
      <td><%= t(:mtow) %></td>
      <td><span class="static-mass"><%= @aircraft.mtow %></span></td>
      <td><span class="mass-unit">[kg]</span></td>
    </tr>
    <tr>
      <td><%= t(:mldgw) %></td>
      <td><span class="static-mass"><%= @aircraft.mldgw %></span></td>
      <td><span class="mass-unit">[kg]</span></td>
    </tr>   
  </table>
  
  <br/>
  <br/>
  
  <!-- weight stations -->
  <h5><%= image_tag "icons/dumbell.png" %> <%= t(:weight_stations) %></h5>
  <%= image_tag "shadow-1-3.png" %>
  <br/>
  <table class="info">
    <tr>
      <th></th>
      <th><%= t(:empty_arm) %>  <span class="length-unit">[m]</span></th>
      <th><%= t(:max_weight) %> <span class="mass-unit">[kg]</span></th>
    </tr>
    
    <% @stations.each do |station| %>
      <tr>
        <!-- matches station by locale, fall back on english -->
        <% if I18n.locale == :fr %>
          <td><%= station.station_type.fr %></td>
        <% else %>
          <td><%= station.station_type.en %></td>
        <% end %>
        
        <td class="center-text"><span class="static-length"><%= station.arm %></span></td>
        <td class="center-text"><span class="static-mass"><%= station.weightMax %></span></td>
      </tr>
    <% end %>
      <tr class="total">
        <td><%= t(:total_weight) %></td>
        <td></td>
        <td><span class="static-mass"><%= max_stations_kilos %></span></td>
      </tr>
  </table>  
    
  <br/>
  <br/>
  
  <!-- fuel tanks -->
  <h5><%= image_tag "icons/fuel.png" %> <%= t(:fuel) %></h5>
  <%= image_tag "shadow-1-3.png" %>
  <br/>
  <table class="info">
    <tr>
      <th></th>
      <th><%= t(:empty_arm) %> <span class="length-unit">[m]</span></th>
      <th><%= t(:volume_max) %> <span class="volume-unit">[l]</span></th>
    </tr>
    
    <% @fuel_tanks.each do |fuel| %>
      <tr>
        <% if I18n.locale == :fr %>
          <td><%= fuel.fuel_location.fr %></td>
        <% else %>
          <td><%= fuel.fuel_location.en %></td>
        <% end %>
        <td><span class="static-length"><%= fuel.arm.round(4) %></span></td>
        <td><span class="static-volume"><%= fuel.volumeMax.round(4) %></span></td>
      </tr>
    <% end %>    
    <tr class="total">
        <td><%= t(:total_volume) %></td>
        <td></td>
        <td><span class="static-volume"><%= max_fuel_liters %></span></td>
      </tr>
      <tr class="total">
      <td><%= t(:total_weight) %></td>
        <td></td>
        <td><span class="static-volume"><%= max_fuel_kilos %></span> <span class="mass-unit">[kg]</span></td>
      </tr>
  </table>
  
  <br/>
</div>

<div class="clear "></div>
<!-- ENDS 2 cols -->

<br/>

<!-- enveloppe -->
<h5 class="header-line"><%= image_tag "icons/location.png" %> <%= t(:envelope_title) %></h5>
<%= image_tag "shadow-1-3.png" %>
<div class="clear "></div>


<!-- no envelope associated -->
<% if not @aircraft.envelope %>
  <%= t(:no_envelope) %>
  
  <% if user_signed_in? %>
     <%= link_to t(:click_add_envelope), new_envelope_path(:aircraft => @aircraft.id) %></p>
  <% end %>

<% else %>

  <!-- envelope points -->
  <div class="craft-show-one">
    <table class="info">
      <th></th>
      <th><%= t(:cg) %> <span class="length-unit">[m]</span></th>
      <th><%= t(:weight) %> <span class="mass-unit">[kg]</span></th>
      
      <% count = 1 %>
      <% @aircraft.envelope.coordinates.sort_by{|t| t.order}.each do |coord| %>
        <tr>
          <td><%= count %>.</td>
          <td><span class="static-length"><%= coord.cg %></span></td>
          <td><span class="static-mass"><%= coord.weight %></span></td>
        </tr>
       <% count += 1 %>
       
      <% end %>
    </table>
    
    <% if user_signed_in? %>  
      <br/>
      <br/>  
  
      <center>
        <p><%= link_to t(:edit_envelope), edit_envelope_path(@aircraft.envelope) %></p>
      </center>
    <% end %>
  </div>
  
  <!-- envelope drawing -->
  <div class="craft-show-two last">
    <%= render :partial => "enveloppe_drawing" %>
  </div>
  
  <div class="clear "></div>
<% end %>


<!-- aircraft comments -->
<%= render :partial => "shared/comments", :locals => {:allow_reply => :yes} %>







