<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "weight_balance"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li class="desc"><%= t(:unit_system) %></li>
  <li id="si_unit" class="active"><%= t(:metric) %></li>
  <li id="us_unit" ><%= t(:us) %></li>
</ul>

<!-- header line user information -->
<h4 class="header-line"><%= t(:weight_and_balance) %></h4>
<p>
  <%= t(:w_b_info).html_safe %> 
</p>

<div class="clear "></div>

<center>
  <p id="notice"><%= notice %></p>
</center>

<% if not @aircraft.envelope %> <!-- no cg envelope associated -->
  
  <center>
    <%= t(:no_envelope) %>
    <% if user_signed_in? %>
      <%= link_to t(:click_add_envelope), new_envelope_path(:aircraft => @aircraft.id) %></p>
    <% end %>
  </center>

<% else %> <!-- there is an envelope -->

  <%= render 'weight_balance_form' %>      

<% end %>
<!-- ENDS test if envelope -->

<!-- aircraft comments -->
<%= render :partial => "shared/comments", :locals => {:allow_reply => :yes} %>
