<% if action.eql?("index") %>
  <%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= t(:cat_fuel_locations) %>
<% end %>

<% if action.eql?("show") %>
  <%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:cat_fuel_locations), fuel_locations_path %>
	<% if I18n.locale == :fr %>
  	<%= @fuel_location.fr %>  
  <% else %>
    <%= @fuel_location.en %>  
  <% end %>
<% end %>

<% if action.eql?("new") %>
  <%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:cat_fuel_locations), fuel_locations_path %>
	<%= t(:new) %>
<% end %>