<%= form_for(@fuel_location) do |f| %>
  <% if @fuel_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuel_location.errors.count, "error") %> prohibited this fuel_location from being saved:</h2>

      <ul>
      <% @fuel_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:english_label) %><br />
    <%= f.text_field :en, :class=>"textInput" %>
  </div>
  
  <div class="field">
    <%= f.label t(:french_label) %><br />
    <%= f.text_field :fr, :class=>"textInput" %>
  </div>
  
  <div class="field">
    <%= f.label t(:order_appearance) %> (<%= t(:station_position_info) %>)<br />
    <%= f.number_field :position, :class=>"textInput" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
