<% if can? :manage, @fuel_locations %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "index"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:new_fuel_tank_location), new_fuel_location_path %></li>
</ul>

<!-- page information -->
<h4 class="header-line"><%= t(:fuel_tank_locations) %></h4>
<div class="clear "></div>

<p><%= t(:fuel_location_index_info) %></p>
<br/>

<div class="center-smaller-bordered">
  <table class="bordered">
    <tr>
      <th><%= t(:label) %></th>
      <th><%= t(:order_appearance) %></th>
    </tr>

    <% @fuel_locations.each do |fuel_location| %>
      <tr>
        <td class="centered-text">
          <% if I18n.locale == :fr %>
            <%= link_to fuel_location.fr, edit_fuel_location_path(fuel_location) %>
          <% else %>
            <%= link_to fuel_location.en, edit_fuel_location_path(fuel_location) %>
          <% end %>
        </td>
        <td class="centered-text">
          <%= fuel_location.position %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% else %>
  <%= render :partial => "access_denied" %>
<% end %>