<% if can? :manage, @fuel_location %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "new"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:back), fuel_locations_path %></li>
</ul>

<!-- page information -->
<h4 class="header-line"><%= t(:fuel_tank_location) %></h4>
<p>
  <%= t(:station_edit_info) %>
</p>
<div class="clear "></div>

<br/>

<div id="centered-form">
  <div class="rounded-centered">
    <%= render 'form' %>
  </div>
</div>


<% else %>
  <%= render :partial => "access_denied" %>
<% end %>