<% if can? :manage, @fuel_location %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "admin"} %>
<% end %>


<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to 'Edit', edit_fuel_location_path(@fuel_location) %></li>
  <li><%= link_to 'Back', fuel_locations_path %></li>
</ul>

<p id="notice"><%= notice %></p>

<!-- page information -->
<h4 class="header-line">Fuel location information</h4>
<div class="clear "></div>

<br/>

<p>
  <b>English:</b>
  <%= @fuel_location.en %>
</p>

<p>
  <b>French:</b>
  <%= @fuel_location.fr %>
</p>

<p>
  <b>Position:</b>
  <%= @fuel_location.position %>
</p>


<% else %>
  <h1>Not authorized</h1>
<% end %>



