<%= form_for(@coordinate) do |f| %>
  <% if @coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>

      <ul>
      <% @coordinate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mass %><br />
    <%= f.text_field :mass %>
  </div>
  <div class="field">
    <%= f.label :cg %><br />
    <%= f.text_field :cg %>
  </div>
  <div class="field">
    <%= f.label :enveloppe_id %><br />
    <%= f.number_field :enveloppe_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
