<h1>Listing coordinates</h1>

<table>
  <tr>
    <th>Mass</th>
    <th>Cg</th>
    <th>Enveloppe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coordinates.each do |coordinate| %>
  <tr>
    <td><%= coordinate.mass %></td>
    <td><%= coordinate.cg %></td>
    <td><%= coordinate.enveloppe_id %></td>
    <td><%= link_to 'Show', coordinate %></td>
    <td><%= link_to 'Edit', edit_coordinate_path(coordinate) %></td>
    <td><%= link_to 'Destroy', coordinate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coordinate', new_coordinate_path %>
