<p id="notice"><%= notice %></p>

<p>
  <b>Mass:</b>
  <%= @coordinate.mass %>
</p>

<p>
  <b>Cg:</b>
  <%= @coordinate.cg %>
</p>

<p>
  <b>Enveloppe:</b>
  <%= @coordinate.enveloppe_id %>
</p>


<%= link_to 'Edit', edit_coordinate_path(@coordinate) %> |
<%= link_to 'Back', coordinates_path %>
