<% if action.eql?("index") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
  <%= t(:cat_users) %>
<% end %>

<% if action.eql?("new") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:cat_users), users_path %>
  <%= t(:new) %>
<% end %>

<% if action.eql?("show") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:fuel_types), users_path %>
  <%= @fuel_type.name %>
<% end %>

<% if action.eql?("roles") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:cat_users), users_path %>
  <%= @user.username %>
<% end %>
