<% if can? :manage, @roles %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "roles"} %>
<% end %>

<!-- page information -->
<h4 class="header-line"><%= t(:users_role_info, :name => @user.username, :email=>@user.email) %></h4>


<div class="clear "></div>
<br/>

<div class="rounded-centered-login">
  <div id="login-content">
  <h5><%= image_tag "icons/badge.png" %> Roles</h5>
    <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
    
    <%= form_for(@user, :url =>save_roles_user_path(@user)) do |f| %>
      <% for role in Role.all %>
        <div>
          <%= check_box_tag "user[role_ids]][]", role.id, @user.roles.include?(role) %>
          <%= role.name %>
        </div>
      <% end %>
      
      <br/>
      
      <center>
        <div class="actions">
          <%= f.submit %>
        </div>
      </center>
    <% end %>
    
  </div>
</div>

<% else %>
  <%= render :partial => "access_denied" %>
<% end %>
