<% if can? :manage, @users %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "index"} %>
<% end %>

<!-- page information -->
<h4 class="header-line"><%= t(:cat_users) %></h4>
<p>
  <%= t(:users_index_info) %>
</p>
<div class="clear "></div>
<br/>

<div class="center-smaller-bordered">
  <table class="bordered">
    <tr>
      <th><%= t(:username) %></th>
      <th><%= t(:e_mail) %></th>
      <th>Admin</th>
      <th></th>
    </tr>
  
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, edit_roles_user_path(user) %></td>
        <td><%= user.email %></td>
        <td class="centered-text">
          <% if user.has_role?(:admin) %>
            <%= image_tag "icons/star.png" %>
          <% end %>
        </td>
        <td><%= link_to t(:delete), user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    
  </table>
  
  <div id="paginate" class="pagination">
    <%= paginate @users %>
  </div>
  
</div>

<% else %>
  <%= render :partial => "access_denied" %>
<% end %>

