
<% if can? :show, @user %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
  <%= link_to t(:home), "" %>
  <%= current_user.username %>
<% end %>

<!-- unit system -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:edit), edit_user_registration_path %></li>
  <li><%= link_to t(:sign_out), destroy_user_session_path, :method =>:delete %></li>
</ul>


  <p id="notice"><%= notice %></p>
  
  <!-- user info -->
  <div class="one-half-right-border">
    <table class="table-align-top">
      <tr>
        <td>
          <%= image_tag @user.avatar.url(:small) %>
        </td>
        <td>
          <h4><%= @user.username %></h4>
          <h6><%= @user.email %></h6>
        </td>
      </tr>
    </table>
  </div>
  
  <!-- favorites aircrafts -->
  <div class="one-half last">
    <div class="rounded-centered-smaller">
      <h4><%= image_tag "icons/airplane.png" %> <%= t(:favorites) %></h4>
      <%= image_tag "shadow-1-3.png" %>
      
      <div id="filtered_models">
      
        <% for i in 1..5 %>
          <%= Array.new(2) { ((rand(122-97) + 97).chr).upcase }.join %> - <%= rand(9) %><%= rand(9) %><%= rand(9) %><%= rand(9) %>
          <br/>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="clear "></div>
  
  <!-- aircraft comments -->
  <%= render :partial => "shared/comments", :locals => {:allow_reply => :no} %>
  
<% else %>
  <%= render :partial => "access_denied" %>
<% end %>
