<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= link_to "Home", home_path %>
	<%= t(:new_password) %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  
  <div class="rounded-centered-login">
    <div id="login-content">
      <h5><%= image_tag "icons/badge.png" %> <%= t(:forgot_password) %></h5>
      <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
      <br/>
      <div><%= f.label :password, "New password" %><br />
      <%= f.password_field :password, :class=>"input"%></div>
      
      <br/>
      
      <div><%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, :class=>"input" %></div>
      
      <br/>
      <center>
        <div class="actions"><%= f.submit "Change my password" %></div>
      </center>
      <br/>
    </div>
  </div>
      
<% end %>
