<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= link_to "Home", "" %>
	<%= t(:forgot_password) %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="rounded-centered-login">
    <div id="login-content">
      <h5><%= image_tag "icons/badge.png" %> <%= t(:forgot_password) %></h5>
      <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
      <br/>
      <div><%= f.label t(:e_mail) %>
      <%= f.email_field :email, :class=>"input" %></div>
      
      <br/>
      <center>
        <div class="actions"><%= f.submit t(:reset_password) %></div>
      </center>
      <br/>
     
      <%= link_to t(:sign_in), new_user_session_path %>
      <br/> 
      <%= link_to t(:sign_up), new_user_registration_path %>
     
     
    </div>
  </div>
<% end %>
