<div id="comments">
  <center>
    <%= image_tag "post-divider-inverted2.png" %>
  </center>
  
  <div id="comment-block">
    <div id="n-comments"><%= @comments_count %></div>
    <div id="n-comments-text"> <%= t(:comments) %> </div>
    
    <!-- comments -->
    <ul class="commentlist">
      <% @comments.each do |comment| %>
    		<li class="comment" id="comment-18">
    			<div id="div-comment-18" class="comment-body">
    			
    			 <!-- author -->
    				<div class="comment-author vcard">
    					<%= image_tag comment.user.avatar.url(:tiny) %>
    					<cite class="fn"><strong><%= comment.user.username %></strong></cite><span class="says"> <%= t(:says) %>:</span>
    				</div>
            
            <!-- date -->
    				<div class="comment-meta">
    					<%= l comment.created_at %> 
    					
    					<% if comment.created_at != comment.updated_at %>
                <strong><%= t(:comment_edited) %></strong>
            <% end %>
    				</div>
            
            <!-- body -->
            <div class="comment-body">
      				<p><%= simple_format(comment.body) %></p>
    				</div>
    				
    				<!-- edit/delete options -->
    				<% if current_user == comment.user %>
    				  <div class="actions">
  						  <%= link_to t(:edit), edit_aircraft_comment_path(comment) %>
  						  <%= link_to t(:delete), comment, :method => :delete %>
  						</div>
  				  <% end %>
    				
    			</div>
    		</li>		
  		<% end %>
    </ul>
    <!-- ENDS comments -->
    
    <div id="paginate" class="pagination">
      <%= paginate @comments %>
    </div>
  </div>
  <!-- ENDS comment-block -->
  
    <!-- comments form -->
  <% if user_signed_in? && allow_reply == :yes %>
  	<div id="respond">
  		<div class="leave-comment">
  			<h2><%= t(:leave_comment) %></h2>	
  
        <%= form_for([@aircraft, @aircraft.aircraft_comments.build]) do |f| %>
          <%= f.text_area :body, :size=>"60x7" %>
          
          <div class="actions">
            <%= f.submit t(:send_comment) %>
          </div>
        <% end %>  
      
  		</div>
  		<!-- ENDS leave-comment -->
  	</div>
  	<!-- ENDS respond -->
  
  <% end %>
  
  <center>
    <%= image_tag "post-divider2.png" %>
  </center>
  
</div>
	
