<% if action.eql?("index") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
  <%= t(:fuel_types) %>
<% end %>

<% if action.eql?("new") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:fuel_types), fuel_types_path %>
  <%= t(:new) %>
<% end %>

<% if action.eql?("show") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:fuel_types), fuel_types_path %>
  <%= @fuel_type.name %>
<% end %>
