<%= form_for(@fuel_type) do |f| %>
  <% if @fuel_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuel_type.errors.count, "error") %> prohibited this fuel_type from being saved:</h2>

      <ul>
      <% @fuel_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name, :class=>"textInput"%>
  </div>
  <div class="field">
    <%= f.label t(:density) %> [kg/l]<br />
    <%= f.text_field :density, :class=>"textInput" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
