<% if can? :manage, @fuel_types %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "index"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:new_fuel_type), new_fuel_type_path %></li>
</ul>

<!-- page information -->
<h4 class="header-line"><%= t(:cat_fuel_types) %></h4>
<p>
  <%= t(:fuel_index_info) %>
</p>
<div class="clear "></div>

<br/>

<div class="center-smaller-bordered">
  <table  class="bordered">
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:density) %> [kg/l]</th>
    </tr>
  
  <% @fuel_types.each do |fuel_type| %>
    <tr>
      <td class="centered-text"><%= link_to fuel_type.name, edit_fuel_type_path(fuel_type) %></td>
      <td class="centered-text"><%= fuel_type.density %></td>  
    </tr>
  <% end %>
  </table>
</div>

<% else %>
  <%= render :partial => "access_denied" %>
<% end %>

