<% if can? :manage, @fuel_type %>
<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "new"} %>
<% end %>


<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to 'Back', fuel_types_path %></li>
</ul>

<!-- page information -->
<h4 class="header-line"><%= t(:fuel_type) %></h4>
<p>
  <%= t(:fuel_edit_info) %>
</p>
<div class="clear "></div>

<br/>

<div id="centered-form">
  <div class="rounded-centered">
    <%= render 'form' %>
  </div>
</div>

<% else %>
  <%= render :partial => "access_denied" %>
<% end %>