<% if can? :manage, @fuel_type %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "show"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to 'Edit', edit_fuel_type_path(@fuel_type) %></li>
  <li><%= link_to 'Back', fuel_types_path %></li>
</ul>

<p id="notice"><%= notice %></p>

<!-- page information -->
<h4 class="header-line">Fuel type information</h4>
<div class="clear "></div>

<br/>


<p>
  <b>Name:</b>
  <%= @fuel_type.name %>
</p>

<p>
  <b>Density :</b>
  <%= @fuel_type.density %> [kg/l]
</p>

<% else %>
  <h1>Not authorized</h1>
<% end %>


