<% if action.eql?("index") %>
	<%= link_to t(:home), "index.html" %>
  <%= t(:aircrafts) %>
<% end %>

<% if action.eql?("new") %>
	<%= link_to t(:home), "index.html" %>
  <%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @aircraft.model.maker.name, maker_path(@aircraft.model.maker) %>
	<%= link_to @aircraft.model.name, model_path(@aircraft.model) %>
	<%= link_to @aircraft.callSign, aircraft_path(@aircraft) %>
  <%= t(:new_envelope) %>
<% end %>

<% if action.eql?("edit") %>
	<%= link_to t(:home), "index.html" %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @envelope.aircraft.model.maker.name, maker_path(@envelope.aircraft.model.maker) %>
	<%= link_to @envelope.aircraft.model.name, model_path(@envelope.aircraft.model) %>
  <%= t(:edit) %>
<% end %>

<% if action.eql?("show") %>
	<%= link_to t(:home), "index.html" %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @envelope.aircraft.model.maker.name, maker_path(@envelope.aircraft.model.maker) %>
	<%= link_to @envelope.aircraft.model.name, model_path(@envelope.aircraft.model) %>
  <%= @envelope.aircraft.callSign %>
<% end %>