<table class="fields">
  <tr>
    <td><%= f.text_field :cg, :class=>"lengthInput150"%></td>
    <td><%= f.text_field :weight, :class=>"massInput150" %></td>
    <td><%= f.hidden_field :order, :value=>@coord_order, :class=>"order"%></td>
  
    <td class="remove">
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields image_tag("mono-icons/minus16.png"), f %>
    </td>
  </tr>
</table>

<!-- keeps track of dynamic fields order -->
<% @coord_order += 1 %>










