<%= form_for(@envelope) do |f| %>
  <% if @envelope.errors.any? %>
    <p class="error-box">
      <strong><%= pluralize(@envelope.errors.count, "error") %> prohibited this enveloppe from being saved:</strong>
      <br/>
      <% @envelope.errors.full_messages.each do |msg| %>
        &nbsp;&nbsp;&nbsp; - <%= msg %><br/>
      <% end %>
    </p>
  <% end %>
  
  
  <!-- coordinates -->
  <div class="one-half">
    <div class="rounded-centered">  
      <h4><%= image_tag "icons/stats.png" %> <%= t(:end_points) %></h4>
      <%= image_tag "shadow-1-3.png" %>
      <br/>
      <br/>
      
      <table class="dynamic-header3">
        <tr>
          <th class="head"><%= t(:cg)%> <span class="length-unit">[m]</span></th>
          <th class="head"><%= t(:weight)%> <span class="mass-unit">[kg]</span></th>        
          <th class="head"></th>
        </tr>
      </table>
            
      <%= f.fields_for :coordinates do |builder| %>
        <%= render "coordinate_fields", :f => builder %>
      <% end %>
      
      <div id="wrap"><%= link_to_add_fields image_tag("mono-icons/plus24.png"), f, :coordinates %></div>
      
      <!-- passes the aircraft id -->
      <%= f.hidden_field :aircraft_id, :value => @aircraft.id %>
      
      <!-- unit system used for input -->
      <%= hidden_field_tag "units", "si", :id=>"unit_field" %>

      <div class="actions">
        <center>
          <%= f.submit %>
        </center>
      </div>
    </div>
  </div>
  
  <div class="one-half last">
    <p><%= t(:enter_points) %></p>
    <br/>
    <p align="center"><%= image_tag "schema.png" %></p>
    
  </div>
  
<% end %>
