<% if action.eql?("index") %>
	<span class="title"><%= t(:aircrafts) %></span> 
  <span class="subtitle"><%= t(:browse) %></span> 
<% end %>

<% if action.eql?("new") %>
	<span class="title"><%= @envelope.aircraft.callSign %></span> 
  <span class="subtitle"><%= @envelope.aircraft.model.maker.name %></span> 
<% end %>

<% if action.eql?("edit") %>
	<span class="title"><%= @envelope.aircraft.model.maker.name %></span> 
  <span class="subtitle"><%= @envelope.aircraft.model.name %></span> 
<% end %>

<% if action.eql?("show") %>
	<span class="title"><%= @envelope.aircraft.callSign %></span> 
  <span class="subtitle"><%= @envelope.aircraft.model.maker.name %> <%= @envelope.aircraft.model.name %></span> 
<% end %>