<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "new"} %>
<% end %>

<!-- unit system -->
<ul class="filter">
  <li><%= t(:unit_system) %></li>
  <% if @envelope.normalize %>
    <li id="si_unit"><%= t(:metric) %></li>
    <li id="us_unit" class="active" ><%= t(:us) %></li>
  <% else %>
    <li id="si_unit" class="active"><%= t(:metric) %></li>
    <li id="us_unit" ><%= t(:us) %></li>
  <% end %>
</ul>

<!-- header line user information -->
<h4 class="header-line"><%= t(:new_envelope) %></h4>
<p>
  <%= t(:new_envelope_info) %> 
</p>

<div class="clear "></div>
<br/>

<%= render 'form' %>

