<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= link_to "Home", "" %>
	<%= t(:sign_in) %>
<% end %>

<% if flash[:alert] %>
  <div class="error-box">
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") %>
  </div>
<% end %>

<div class="rounded-centered-login">
  <div id="login-content">
    <h5><%= image_tag "icons/badge.png" %> <%= t(:sign_in) %></h5>
    <div class="rounder_center_underline"><%= image_tag "shadow-1-3.png" %> </div>
    
    <br/>
    
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <td><%= t(:username_or_email) %></td>
          <td><%= f.text_field :login, :class=>"input" %></td>
        </tr>
        <tr>
          <td><%= t(:password) %></td>
          <td><%= f.password_field :password, :class=>"input" %></td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <% if devise_mapping.rememberable? -%>
              <div><%= f.check_box :remember_me %> <%= t(:remember_me) %></div>
            <% end -%>        
          </td>
        </tr>
      </table>
    
      <br/>
        
      <center>
        <div class="actions"><%= f.submit t(:sign_in) %></div>
      </center>
    <% end %>
    <br/>
    
    <%= link_to t(:sign_up), new_user_registration_path %>
    <br/>    
    <%= link_to t(:forgot_password), new_password_path('user') %>

  </div>
  
</div> 