<%= form_for(@base_station) do |f| %>
  <% if @base_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@base_station.errors.count, "error") %> prohibited this base_station from being saved:</h2>

      <ul>
      <% @base_station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :moment %><br />
    <%= f.text_field :moment %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :aircraft_id %><br />
    <%= f.number_field :aircraft_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
