<h1>Listing base_stations</h1>

<table>
  <tr>
    <th>Moment</th>
    <th>Type</th>
    <th>Aircraft</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @base_stations.each do |base_station| %>
  <tr>
    <td><%= base_station.moment %></td>
    <td><%= base_station.type %></td>
    <td><%= base_station.aircraft_id %></td>
    <td><%= link_to 'Show', base_station %></td>
    <td><%= link_to 'Edit', edit_base_station_path(base_station) %></td>
    <td><%= link_to 'Destroy', base_station, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Base station', new_base_station_path %>
