<p id="notice"><%= notice %></p>

<p>
  <b>Moment:</b>
  <%= @base_station.moment %>
</p>

<p>
  <b>Type:</b>
  <%= @base_station.type %>
</p>

<p>
  <b>Aircraft:</b>
  <%= @base_station.aircraft_id %>
</p>


<%= link_to 'Edit', edit_base_station_path(@base_station) %> |
<%= link_to 'Back', base_stations_path %>
