<!-- breadcrumb -->
<% content_for :breadcrumb do %>
  <%= link_to t(:home), "" %>
	<%= link_to "Administration", :controller=>:static_pages, :action=>:admin %>
	Roles
<% end %>

<h1>Editing role</h1>

<%= render 'form' %>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>
