<!-- breadcrumb -->
<% content_for :breadcrumb do %>
  <%= link_to t(:home), "" %>
	<%= link_to "Administration", :controller=>:static_pages, :action=>:admin %>
	Roles
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
