<% if action.eql?("index") %>
  <%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= t(:cat_station_types) %>
<% end %>

<% if action.eql?("show") %>
  <%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:cat_station_types), station_types_path %>
	<% if I18n.locale == :fr %>
  	<%= @station_type.fr %>  
  <% else %>
    <%= @station_type.en %>  
  <% end %>
<% end %>

<% if action.eql?("new") %>
  <%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= link_to t(:cat_station_types), station_types_path %>
  <%= t(:new) %>
<% end %>