<%= form_for(@station_type) do |f| %>
  <% if @station_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station_type.errors.count, "error") %> prohibited this station_type from being saved:</h2>

      <ul>
      <% @station_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:english_label) %><br />
    <%= f.text_field :en, :class=>"textInput" %>
  </div>
  
  <div class="field">
    <%= f.label t(:french_label) %><br />
    <%= f.text_field :fr, :class=>"textInput" %>
  </div>
  
  <div class="field">
    <%= f.label t(:order_appearance) %><br />
    <%= f.number_field :position, :class=>"textInput" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
