<% if can? :manage, @station_types %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "index"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:new_station_type), new_station_type_path %></li>
</ul>

<!-- page information -->
<h4 class="header-line"><%= t(:cat_station_types) %></h4>
<div class="clear "></div>

<p><%= t(:station_index_info) %></p>
<br/>

<div class="center-smaller-bordered">
  <table class="bordered">
    <tr>
      <th><%= t(:label) %></th>
      <th><%= t(:order_appearance) %></th>
    </tr>
  
  <% @station_types.each do |station_type| %>
    <tr>
      <td class="centered-text">
        <% if I18n.locale == :fr %>
          <%= link_to station_type.fr, edit_station_type_path(station_type) %>
        <% else %>
          <%= link_to station_type.en, edit_station_type_path(station_type) %>
        <% end %>
      </td>
      <td class="centered-text">
        <%= station_type.position %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<% else %>
  <%= render :partial => "access_denied" %>
<% end %>





