<% if can? :manage, @station_type %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "show"} %>
<% end %>


<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:edit), edit_station_type_path(@station_type) %></li>
  
</ul>

<p id="notice"><%= notice %></p>

<!-- page information -->
<h4 class="header-line"><%= t(:weight_station) %></h4>
<div class="clear "></div>

<br/>

<table class="simple-centered">
  <tr>
    <th><%= t(:english_label) %></th>
    <th><%= t(:french_label) %></th>
    <th><%= t(:station_position) %> (<%= t(:station_position_info) %>)</th>
  </tr>
  <tr>
    <td><%= @station_type.en %></td>
    <td><%= @station_type.fr %></td>
    <td><%= @station_type.position %></td>
  </tr>
</table>

<% else %>
  <%= render :partial => "access_denied" %>
<% end %>

