<% if action.eql?("index") %>
  <%= link_to t(:home), home_path %>
	<%= link_to t(:administration), admin_path %>
	<%= t(:cat_comments) %>
<% end %>

<% if action.eql?("edit") %>
  <%= link_to t(:home), home_path %>
	<%= link_to @aircraft_comment.aircraft.model.maker.name %>
	<%= link_to @aircraft_comment.aircraft.model.name %>
	<%= link_to @aircraft_comment.aircraft.callSign %>
	<%= t(:comments) %>
<% end %>