<%= form_for(@aircraft_comment) do |f| %>
  <% if @aircraft_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aircraft_comment.errors.count, "error") %> prohibited this aircraft_comment from being saved:</h2>

      <ul>
      <% @aircraft_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:comment) %><br />
    <%= f.text_area :body, :size=>"73x12" %>
  </div>
  
  <center>
    <div class="actions">
      <%= f.submit %>
    </div>
  </center>
  
<% end %>
