<% if can? :edit, @aircraft_comment && current_user.id == @aircraft_comment.user.id %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "edit"} %>
<% end %>

<!-- page information -->
<h4 class="header-line"><%= t(:edit_comment) %></h4>
<p>
  <%= t(:edit_comment_info, :date=>@aircraft_comment.created_at, 
    :maker=>@aircraft_comment.aircraft.model.maker.name, 
    :model=>@aircraft_comment.aircraft.model.name, 
    :callsign=>@aircraft_comment.aircraft.callSign) %>
</p>
<div class="clear "></div>

<div id="centered-form">
  <div class="rounded-centered">
    <%= render 'form' %>
  </div>
</div>

<% else %>
  <%= render :partial => "shared/access_denied" %>
<% end %>

