<% if can? :manage, @aircraft_comments %>

<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "index"} %>
<% end %>

<!-- page information -->
<h4 class="header-line"><%= t(:comments) %></h4>
<p><%= t(:click_edit_comment) %></p>
<div class="clear "></div>
<br/>

  <table class="bordered">
    <tr>
      <th><%= t(:comment) %></th>
      <th><%= t(:username) %></th>
      <th><%= t(:aircraft) %></th>
      <th><%= t(:creation_date) %></th>
      <th></th>
    </tr>
  
  <% @aircraft_comments.each do |aircraft_comment| %>
    <tr>
      <td><%= link_to aircraft_comment.body,  edit_aircraft_comment_path(aircraft_comment) %></td>
      <td class="centered-text"><%= aircraft_comment.user.username %></td>
      <td class="centered-text"><%= link_to aircraft_comment.aircraft.callSign, aircraft_comment.aircraft %></td>
      <td class="centered-text"><%= l aircraft_comment.created_at %></td>
      <td><%= link_to t(:delete), aircraft_comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  
  <br/>
  <%= paginate @aircraft_comments %>


<% else %>
  <%= render :partial => "shared/access_denied" %>
<% end %>
