<% if can? :manage, @aircraft_comment %>

<h1>New aircraft_comment</h1>

<%= render 'form' %>

<%= link_to 'Back', aircraft_comments_path %>

<% else %>
  <%= render :partial => "shared/access_denied" %>
<% end %>
