<% if can? :manage, @aircraft_comment %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:username) %></b>
  <br/>
  <%= image_tag @aircraft_comment.user.avatar.url(:tiny) %>
  <%= @aircraft_comment.user.username %>
</p>

<p>
  <b><%= t(:aircraft) %></b>
  <br/>
  <%= link_to @aircraft_comment.aircraft.callSign, @aircraft_comment.aircraft %>
</p>

<p>
  <b><%= t(:comment) %></b>
  <br/>
  <%= @aircraft_comment.body %>
</p>


<%= link_to 'Edit', edit_aircraft_comment_path(@aircraft_comment) %> |
<%= link_to 'Back', aircraft_comments_path %>

<% else %>
  <%= render :partial => "shared/access_denied" %>
<% end %>
