<!-- breadcrumb -->
<% content_for :breadcrumb do %>
  <%= link_to t(:home), home_path %>
  <%= t(:contact) %>
<% end %>

<!-- header line user information -->
<h4 class="header-line"><%= t(:contact_us) %></h4>
<p>
  <%= t(:contact_us_info) %> 
</p>

<div class="one-half">
  <%= form_for @message, :url => contact_path do |form| %>
    
    <% if @message.errors.any? %>
      <p class="error-box">
        <strong><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</strong>
        <br/>
        <% @message.errors.full_messages.each do |msg| %>
          &nbsp;&nbsp;&nbsp; - <%= msg %>
          <br/>
        <% end %>
      </p>
    <% end %>
  
    <fieldset class="fields">
      <div class="field">
        <%= form.label t(:name) %>
        <br/>
        <%= form.text_field :name, :class=>"textInput" %>
      </div>
      
      <div class="field">
        <%= form.label t(:e_mail) %>
        <br/>
        <%= form.text_field :email, :class=>"textInput" %>
      </div>
      <div class="field">
        <%= form.label t(:subject) %>
        <br/>
        <%= form.text_field :subject, :class=>"textInput" %>
      </div>
      
      <div class="field">
        <%= form.label t(:message) %>
        <br/>
        <%= form.text_area :body %>
      </div>
    </fieldset>
    
    <fieldset class="actions">
      <%= form.submit t(:send_message) %>
    </fieldset>
  <% end %>

</div>
<div class="one-half last">
  
  <h1>Weight & Balance</h1>
  <%= t(:w_b_info).html_safe %> (<%= link_to "HEIG-VD", "http://www.heig-vd.ch" %>).
  
  <br/>
  <br/>
  <br/>
  <address>
  Rte de Cheseaux 1<br/>
  CH-1401 Yverdon-les-Bains<br/>
  Tél: +41 (0)24 557 63 30<br/>
  Fax: +41 (0)24 557 64 04<br/>
  </address>
  
</div>

<div class="clear "></div>

