/* ------------------------------------------------//
//
//	CUSTOM SKIN : ridge 
//
//------------------------------------------------ */

/* NAVIGATION --------------------------------------------------------*/

#nav{
	background-image: url(oblique-light.png);
}

#nav>li ul{
	background-image: url(oblique-light.png);
}

/* SLIDER --------------------------------------------------------*/

.nivo-controlNav{
	background-image:  url(oblique.png);
}

/* TABS --------------------------------------------------------*/

ul.tabs a { 
	background-image:  url(oblique.png);
}

#content ul.tabs a:hover {
	background-image:  url(oblique);
}

ul.tabs a.current,
#content ul.tabs a.current:hover,
ul.tabs li.current a {	
	background-image:  url(oblique.png);
}

/* THUMBS --------------------------------------------------------*/

#thumbs .n-comments{
	background-image: url(balloon.png);
}

#thumbs .thumb .read-more,
#projects-list .project .read-more{
	background-image:  url(oblique.png);
}

#thumbs .thumb .read-more:hover,
#projects-list .project .read-more:hover{
	background-image:  url(oblique.png);
}

#thumbs .thumb .meta-tags a{
	background-image:  url(oblique.png);
}

#thumbs .thumb .meta-tags a:hover{
	background-image:  url(oblique.png);
}

#content .pager li a{
	background-image:  url(oblique.png);
}

#content .pager li:hover a,
#content .pager li.active a{
	background-image:  url(oblique.png);
}

/* COMMENTS PAGINATION --------------------------------------------------------*/

#content .comments-pagination span,
#content .comments-pagination a {
	background-image:  url(oblique.png);
}
 
#content .comments-pagination a:hover{
	background-image:  url(oblique.png);
}
 
#content .comments-pagination .current{
	background-image:  url(oblique.png);
}

/* FILTER --------------------------------------------------------*/

#content .filter li{
	background-image:  url(oblique.png);
}

#content .filter li:hover{
	background-image:  url(oblique.png);
}

#content .filter li.active{
	background-image:  url(oblique.png);
}

/* FOOTER --------------------------------------------------------*/


