/* IMPORTS ------------------------------------------------------------*/

@import url('reset.css');

@import url('styled-elements.css');

/* HACKS ------------------------------------------------------------*/

.clear{
	clear:both;
	height:1px;
}

.inv{ display:none; }

.alignleft{
	float: left;
	margin: 5px 10px 5px 0px;
}

/* GENERAL ------------------------------------------------------------*/
a:hover{
  background-color: transparent;
}

body {
	line-height: 1;
	color: #696969;
	background: #f1f1f1 url(bg/patterns/obl-1x1.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size:  100%;
}

#wrapper{
	width: 966px;
	margin: 30px auto;
	background: #363636;
	min-height: 700px;
	font-size: 14px;
	line-height: 1.5em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

#header{
	height: 200px;
	position: relative;
	z-index: 10;
}

#main{
	background: #fefefe;
	position: relative;
}

#content{
	min-height: 400px;
	overflow: hidden;
	margin-bottom: 40px;
}

#footer{
	position: relative;
	color: #fff;
}

#logo{
	position: absolute;
	top: 0px;
	left: 30px;
}

#content a{
	color: #37b2d1;
}

#content p{
	margin-bottom: 20px;
}

#content .line-divider{
	clear: both;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

/* breadcrumbs --------------------------------------------------------*/

#header #breadcrumbs{
	position: absolute;
	bottom: 11px;
	left: 30px;
	font-style: italic;
	color: #999;
	font-size: 10px;
}

#header #breadcrumbs a{
	color: #bfbdbd;
	text-decoration: none;
	background: url(breadcrumb-slash.png) no-repeat top right;
	padding-right: 14px;
}

#header #user-login{
	position: absolute;
	bottom: 11px;
	right: 30px;
	font-style: italic;
	color: #999;
	font-size: 10px;
	color: #bfbdbd;

}

#header #user-login a{
  text-decoration: none;
  color: #efefef;
}

#header #user-login a:hover{
  color: #999;
}

/* TITLE --------------------------------------------------------*/

#page-title{
	overflow: hidden;
	height: 90px;
	margin-bottom: 30px;
	background: #f2f1f1 url(twitter-border.png) repeat-x bottom left;
}

#page-title .title{
	display: block;
	float: left;
	font-family: 'Ubuntu', arial, serif;
	font-size: 30px;
	line-height: 90px;
	margin-left: 30px;
	text-shadow: 0 1px rgba(255, 255, 255, 1);
	text-transform : capitalize;
}

#page-title .subtitle{
	display: block;
	float: left;
	margin-left: 30px;
	line-height: 90px;
	color: #929191;
	font-style: italic;	
	text-transform : uppercase;
}

/* HOME --------------------------------------------------------*/

body.home #header{
	height: 430px;
	position: relative;
	z-index: 10;
}

body.home #main{
  border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

body.home #header #headline{
	width: 906px;
	margin: 110px  auto 40px auto;
	font-size: 26px;
	line-height: 1.5em;
	font-family: 'Ubuntu', arial, serif;
	color: #ebe7e7;
	text-align: center;
}



body.home #content{
	padding-top: 350px;
}

#headline a{
	text-decoration: none;
	color: #FFD800; 
}

/* HEADERS --------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{ 
	line-height: 1.4em;
	font-family: 'Ubuntu', arial, serif; 
	font-weight: lighter;
}

h1{ font-size: 30px; }

h2{ font-size: 28px; }

h3{ font-size: 26px; }

h4{ font-size: 24px; }

h5{ font-size: 22px; }

h6{ font-size: 20px; }

h4.black{
  color:#000000;
}
/* COLUMNS LAYOUT----------------------------------------------------------*/

.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth,
.craft-show-one,
.craft-show-two,
.one-half-right-border {
	float:left;
	margin-right:30px;
	position:relative;
}

.one-half{ width: 438px; }

.one-half-right-border{
  width: 417px;
  padding-left:20px;
  border-right-width: 1px;
  border-right-color: #efefef;
  border-right-style: inset;
}

.one-third{ width: 272px; height: 500px;}

.one-fourth{ width: 204px; }

.two-third{ width: 594px; }

.three-fourth{ width: 672px; }

/* aircraft show */
.craft-show-one{ 
  width:400px;
  border-right-width: 1px;
  border-right-color: #efefef;
  border-right-style: inset;
  padding-left:20px;
}
.craft-show-two{ 
  width :420px;
  padding-left:20px;
}

.last {
	clear:right;
	margin-right:0 !important;
}


/* i18n --------------------------------------------------------*/

#i18n-holder{
	overflow: hidden;
	width: 100%;
	padding-top: 40px;	
}

.i18n{
	display: block;
	float: right;
	overflow: hidden;
	margin-right: 20px;
}

.i18n li{
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.i18n a{
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -9000px;
}


/* SEARCH --------------------------------------------------------*/

.top-search{
	position: absolute;
	top:118px;
	right: 50px;
}

#searchform #s{
	color: #888;
	font-size: 12px;
	width: 160px;
	height: 21px;
	margin: 0px 0px 5px 0px;
	padding: 2px 35px 2px 8px;
	border: 0;
	background: #f0efeb;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#searchform #searchsubmit{
	position: absolute; 
	top: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
	border: 0px;
	background: url(search-submit.png) no-repeat  transparent -3px 2px;
}

/* NAVIGATION --------------------------------------------------------*/


#nav{
	display: block;
	position: absolute;
	top: 108px;
	left: 30px;
	height: 46px;
	width: 906px;
	background: #ffd800;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#nav>li{
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 12px;
}

#nav>li:first-child{
	margin-left: 10px;
}

#nav>li>a{
	display: block;
	font-size: 12px;
	color: #363636;
	text-decoration: none;
	padding: 7px 10px 6px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

#nav>li>a:hover,
#nav>li.current-menu-item>a{
	color: #fff;
	background: #363636;
	text-shadow: none;
}

/* sub navigation */

#nav>li ul{
	display: block;
	margin-top: -1px;
	background: #ffd800;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}

#nav>li>ul ul{
	margin-top: 0px;
	border-radius: 0px 10px 10px 10px;
	-moz-border-radius: 0px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px;
}

#nav>li ul li a{
	display: block;
	padding: 10px 15px;
	display: block;
	font-size: 12px;
	color: #363636;
	text-decoration: none;
}

#nav>li ul li a:hover{
	background: #363636;
	color: #fff;
}

#nav>li ul li:last-child a:hover{ /* last item its rounded at bottom */
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}

/* FILTER --------------------------------------------------------*/

#content .filter{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 20px;
	padding-top:20px;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#content .filter li{
	display: block;
	float: left;
	font-size: 12px;
	line-height: 14px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 3px 10px;
	background: #363636;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content .filter li:first-child{
	background: none;
}

#content .filter li.desc{
  background: none;
}

#content .filter li.desc:hover{
  background: none;
}

#content .filter #si_unit,
#content .filter #us_unit,
#content .filter li a{	
	display: block;
	color: #f1f1f1;
	text-decoration: none;
	width: 100%;
	height: 100%;
	cursor: default;
}

#content .filter #si_unit,
#content .filter #us_unit{
  width: 50px;
  text-align: center;
}

#content .filter li:hover{
	background: #000;	
}

#content .filter #si_unit:hover,
#content .filter #us_unit:hover,
#content .filter li:hover a{
	background: #000;	
  color: #ffd800;
  cursor: pointer;
}

#content .filter li:first-child:hover{
	background: none;
}

#content .filter li.active{
	background: #999;
}


/* PAGES --------------------------------------------------------*/

#page-content{
	float: left;
	width: 906px;
	margin-left: 30px;
	padding-bottom : 50px;
	padding-top: 15px;
}

/* THUMBS --------------------------------------------------------*/

#thumbs{
	float: left;
	width: 900px;
}

#thumbs h1 a{
	display: block;
	margin-bottom: 0px;
	text-decoration: none;
	color: #696969;
	font-size:large;
}

#thumbs h1 a:hover{
  text-decoration: none;
  background-color: #fff;
  color:#363636;
}

#thumbs .thumb{
	float:left;
	margin-left: 30px;
	margin-bottom:0px;
}

#thumbs .thumb .thumb-details{
	position: relative;
	overflow: hidden;
	float:left;
	width: 420px;
	height: 170px;
	margin-bottom: 30px;
	background: #f1f1f1;
  background-image: url(oblique-light.png);

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#thumbs .thumb .thumb-image{
  margin-left:300px;
  margin-top:30px;
  overflow: hidden;
  width:120;
}

#thumbs .thumb .thumb-details .meta{
	display: block;
	width: 252px;
	height: 207px;
	font-size: 12px;
	line-height: 2em;
	position: absolute;
	top:10px;
	left: 10px;
}

#thumbs .thumb .meta a{
	text-decoration: none;
}

#thumbs .thumb .meta-tags{
	overflow: hidden;
}

#thumbs .thumb .meta-tags a{
	float: left;
	font-size: 12px;
	line-height: 14px;
	color: #f1f1f1;
	background: #696969;
	padding: 3px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#thumbs .thumb .meta-tags a:hover{
	background: #000;
}

#thumbs .thumb:hover .thumb-details{
	background-image: none;
}

/* COMMENTS--------------------------------------------------------*/

#comments{
  margin-top:150px;
  margin-bottom:20px;
}

#comment-block{
  float:left;
  width: 660px;
  margin-left: 0px;
  margin-top:-40px;
}

#comment-block #n-comments{
  position:relative;
  float:left;
	width: 57px;
	height: 41px;
	color: #fff;
	text-align: center;
	line-height: 32px;
	background: url(balloon.png) no-repeat;
}

#comment-block #n-comments-text{
	position: relative;
	float:left;
	top:4px;
	left: 10px;
	font-family: 'Ubuntu', arial, serif; 
	font-size: 26px;
}

.commentlist{
	float:left;
	margin-left:20px;
	margin-top: 30px;
	width:100%;
}

.commentlist li{
	display: block;
	margin-bottom: 0px;
	padding: 10px 10px 10px 0px;
	line-height: 1.5em;
	background-color: #fefefe;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.commentlist li:nth-child(odd){
  padding: 20px;
  background-color: #efefef;
  border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  
}

.commentlist ul{
	padding-left: 40px;
	border-left: 1px dashed #ccc;
}

.commentlist li .comment-body{
	position: relative;
	padding: 0px 0px 20px 0px;
}

#comment-block #respond{
  float:left;
}

.commentlist li img{
	display: block;
	float: left;
	margin: 0px 12px 20px 0px;
}

.commentlist .comment-meta{
	font-size: 12px;
	padding-bottom: 5px;
}

.leave-comment{
	margin-top: 0px;
	width:550px;
}

.leave-comment h2{
	margin-bottom: 20px;
}

#comment-block #paginate{
  float:left;
  margin-top:10px;
  margin-left:20px;
  margin-bottom:20px;
}

#comment-block #paginate a{
  color: #fff;
}

#comment-block #paginate a:hover{
  color: #ffd800;
}


#comment-block .actions a{
	display: block;
	text-decoration: none;
	float: right;
	padding: 2px 8px;
	margin : 3px;
	background-color: #ccc;
	color: #ffffff;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#comment-block .actions a:hover{
	display: block;
	text-decoration: none;
	float: right;
	padding: 2px 8px;
	margin : 3px;
	background-color: #ccc;
	color: #f1f1f1;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* PAGINATE --------------------------------------------------------*/

.pagination {
	clear:both;
	overflow: hidden;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
	margin-bottom: 10px;
}

.pagination span
{
	display:block;
	float:left;
	margin: 2px 4px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  padding:6px 9px 5px 9px;
}

.pagination  a {
  text-decoration: none;
  color: red;
}
 
.pagination a:hover{
	color:#fff;
}
 
.pagination .current{
	padding:6px 9px 5px 9px;
	background: #000000;
	color:#fff;
}

/* CONTACT --------------------------------------------------------*/

.one-column{
	width: 438px;
	float: left;
	margin-left: 30px;
}

/* FORMS ------------------------------------------------------------*/

.massInput,
.volumeInput,
.lengthInput,
.textInput{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:330px;
}

textarea{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:330px;
}

.massInputSmall,
.volumeInputSmall,
.lengthInputSmall,
.textInputSmall{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:80px;
}

.massInputSmaller,
.volumeInputSmaller,
.lengthInputSmaller,
.textInputSmaller{
  padding: 8px 5px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:120px;
}

.massInput150, 
.lengthInput150{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:150px;
	text-align: right;
}

.form input,
.form textarea{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#sc-contact-form,
#contactForm,
#commentform,
#contactForm{
	margin-bottom: 18px;
}

#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#sc-contact-form input,
.admin-form input,
#contactForm input,
#commentform input{
	width: 282px;
}

#sc-contact-form textarea,
.admin-form textarea,
#contactForm textarea,
#commentform textarea{
	width: 380px;
}

#sc-contact-form #submit,
.admin-form #submit,
#contactForm #submit,
#commentform input#submit{
	width: 76px;
	margin: 21px 0px;
	padding: 5px 0px;
}

#sc-contact-form #submit:hover,
.admin-form #submit:hover,
#contactForm #submit:hover,
#commentform input#submit:hover{
	background: #f1f1f1;
	color: #606060;
}

#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea{
	color: #606060;
	font-size: 14px;
}

#sc-contact-form label,
.admin-form label,
#contactForm label,
#commentform label{
	display: block;
	font-size: 14px;
	line-height: 2.5em;
	font-weight: light;
}

/* PAGER ------------------------------------------------------------*/

.pager{
	padding-top: 0px;
	overflow: hidden;
	display: block;
	height: 33px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
}

.pager li{
	display: block;
	width: 33px;
	height: 33px;
	margin-right: 8px;
	float: left;
}

#content .pager li a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 33px;
	text-align: center;
	text-decoration: none;
	color: #ffd800;
	background: #363636;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#content .pager li:hover a,
#content .pager li.active a{
	color: #363636;
	background: #ffd800;	
}

/* SIDEBAR ------------------------------------------------------------*/

#sidebar{
	float: left;
	width: 282px;
	margin-left: 30px;
}

#sidebar>li{
	margin-bottom: 20px;
}

#sidebar>li h6{
	padding-bottom: 20px;
}

#sidebar ul>li{
	line-height: 40px;
	text-decoration: none;
	border-bottom: 1px solid #d7d7d7;
}

#sidebar ul>li:last-child{ border-bottom: none; }

#sidebar ul>li a{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #696969;
}

#sidebar ul>li:hover{
	background: #f1f1f1;
}

/* FOOTER - COLS ------------------------------------------------------------*/

#footer-cols{
	display: block;
	overflow: hidden;
	color: #bbbaba;
	line-height: 1.5em;
	margin-top: 40px;
}

#footer-cols li.col{
	display: block;
	width: 282px;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
}

#footer-cols li.col>h6{
	color: #d7d7d7;
	margin-bottom: 30px;
	text-shadow: -2px -1px rgba(0, 0, 0, .8);
}

#footer-cols li.clear-col{ clear:left; }

#footer-cols li.col ul{
	display: block;
}

#footer-cols li.col ul li{
	display: block;
	line-height: 35px;
	border-top: 1px solid #4a4a4a;
	border-bottom: 1px solid #000;
}

#footer-cols li.col ul li:first-child{ border-top: none; }

#footer-cols li.col ul li:last-child{ border-bottom: none; }

#footer-cols li.col ul li a{
	text-decoration: none;
	color: #bbbaba;
}

#footer-cols li.col ul li a:hover{
	color: #fff;
}

/* FOOTER BOTTOM --------------------------------------------------------*/

#footer #bottom{
	position: relative;
	width: 100%;
	font-size: 12px;
	line-height: 1.5em;
	line-height: 80px;
	text-align: center;
	color: #868686;
	background: url(bottom-shadow.png) repeat-x;
}

#footer #bottom a{
	color: #ffd800;
	text-decoration: none;
}

#footer #bottom #to-top{
	position: absolute;
	right: 30px;
	top: 26px;
	width: 33px;
	height: 33px;
	background: url(to-top.png) no-repeat;
	cursor: pointer;
}

/* PERSO */
/* ADD STYLE --------------------------------------------------------*/

.admin-option-small{
  float:left;
  background: url("oblique-light.png");
  border-radius: 10px;
  height: 85px;
  width: 260px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.admin-option-small:hover{
  background: none;
  background-color: #efefef;
}

.admin-option-small .pic{
  float:left;
  height: 35px;
  width: 35px;
}

.admin-option-small .admin-category a{
  color: #363636;
  font-weight: bold;
  text-decoration: none;
}

.admin-category a:hover{
  color: #ffd800;
  font-weight: bold;
  text-decoration: underline;
}

.admin-option-small .admin-category{
  float:left;
  width: 210px;
  height: 25px;
  padding-left: 10px;
  padding-top: 5px;
}

.admin-option-small .admin-desc{
  font-weight: normal;
  font-size: 12px;
  width: 245px;
  height: 55px;
  padding-top:15px;
  padding-left:10px;
  padding-bottom: 5px;
}

.envelope_drawing{
  width:450px;
  height:350px;
  margin-left : -20px;
  padding:0px;
  border:1px solid #ddd;
  -moz-box-shadow: 0 0 5px #dedede;
  -webkit-box-shadow: 0 0 5px#dedede;
  box-shadow: 0 0 5px #dedede;
  background: #f0efeb;
  background: url(oblique-light.png);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#centered-form{
  width:600px;
  margin-left: auto;
  margin-right: auto;
}

.rounded-centered{	
  width: 90%;
  position: relative;
  padding:20px;
  border:1px solid #ddd;
	
  -moz-box-shadow: 0 0 5px #dedede;
  -webkit-box-shadow: 0 0 5px#dedede;
  box-shadow: 0 0 5px #dedede;
  background: #f0efeb;
  background: url(oblique-light.png);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.rounder_center_underline{
  margin-left: -20px;
}

.rounded-centered .wrap{
  margin-top:10px;
  margin-left: 10px;
}

.rounded-centered-smaller{
  width: 70%;
  position: relative;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #eee;
  box-shadow: 0 1px 1px #ccc; 
  background: #f0efeb;
  background: url(oblique-light.png);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.rounded_centered content{
  padding-top:10px;
}

.rounded-centered-login{
  width: 520px;
  position: relative;
  padding-bottom: 20px;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #eee;
  box-shadow: 0 1px 1px #ccc; 
  background: #f0efeb;
  background: url(oblique-light.png);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.rounded-centered-login #login-content{
  width:420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#login-content td:first-child{
  height:30px;
  text-align: right;
  vertical-align: middle;
}

#login-content td:last-child{
  height:30px;
  padding:5px;
  text-align: left;
}

#login-content .input{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left:5px;
}

.link-button{
	background: #363636;
	color: #f1f1f1;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	height: 15px;
  font-size: 11px;
	border-radius: 10px;
	border:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

.actions input{
	background: #363636;
	color: #f1f1f1;
	text-decoration: none;
	text-align: center;
	height: 27px;

	padding: 3px 10px;
	border-radius: 10px;
	font-weight: bold;
	border:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

.actions input:hover{ background: #000000; }

.referenced_list{
  float:left;
  margin-left:10px;
  margin-bottom: 10px;
}

.referenced_list .image{
  width:75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
  margin-bottom: 10px;
}

/* filtered lists */
#filtered_makers a,
#filtered_models a,
#filtered_aircrafts a{
  color: #696969;
  text-decoration: none;
}

#filtered_models a:hover,
#filtered_makers a:hover,
#filtered_aircrafts a:hover{
  text-decoration: none;
  background-color: #f0efeb;
}

#filtered_makers .options,
#filtered_models .options,
#filtered_aircrafts .options{
  position:absolute;
  top:5px;
  right:5px;
}

#update-info{
  font-size:11px;
  margin-top: 0px;
}

/* field_with_errors */

.field_with_errors{
	background: #e69189;
	border: 1px solid #ff0000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.border-image{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* main page large image*/

#slider-block, 
#slider-holder{

  opacity: 1;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.blue-link{
  color: #37b2d1;
}

.yellow-link,
.yellow-link:visited
{
  color: #ffd800;
  text-decoration: none;
}

.yellow-link:hover
{
  color: #ffd800;
  text-decoration: underline;
}

.faq-table-title{
  font-weight: bold;
  font-size: 13px;
}

.faq-table{
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: 12px;
}

.faq-title{
  font-weight: bold;
  font-size: 12px;
}

#faq-main-table{
  margin-bottom: 15px;
  border-bottom: 1px solid #d7d7d7
}

.faq-table-subtitle{
  font-weight: bold;
}

.faq-table-subtitle a{
  font-weight: bold;
}

#faq-main-table a{
  text-decoration: none;
}

#faq-main-table a:hover{
  text-decoration: underline;
}
