
.small-size{
  font-size: 11px;
}

.passed{
  color : green;
}

.error{
  color : red;
}

.warning{
  color :  #FF4500;
}

/* TOGGLE & ACCORDION ------------------------------------------------------------*/

.ui-accordion .ui-accordion-header,
.toggle-trigger {
  cursor: pointer;
  margin-top: 1px;
  position: relative;
  padding-bottom: 5px;
  background: #f1f1f1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.ui-accordion .ui-accordion-header:hover,
.toggle-trigger:hover {
	background: #eceaea;
}

#content .ui-accordion .ui-accordion-header>a,
#content .toggle-trigger>a{
	text-decoration: none;
	color: #363636;
	font-size: 14px;
	padding-left: 20px;
}

.ui-accordion .ui-accordion-content,
.toggle-container {
  border-top: 0 none;
  margin-bottom: 2px;
  padding: 20px 20px;
  position: relative;
  top: 1px;
}

/* ALIGNMENT ------------------------------------------------------------*/

.left-align{
	float:left;
	margin:8px 18px 18px 0;
	display: block;
}

.right-align{
	float:right;
	margin:0px 0px 0px 10px;
	display: block;
}

/* BLOCKS ------------------------------------------------------------*/

.boxed{
	background: white;
	padding: 5px;
	border: 1px solid #cccccc;
}

.border{
	border: 2px solid white;
}

/* DROPCAP ------------------------------------------------------------*/

.dropcap:first-letter{ 
	font-size: 3.571em; 
	line-height: 0.76em; 
	padding: 0.04em 0.12em 0 0; 
	float: left;
}

.dropcap.dark:first-letter{ 
	display:block;
	float:left;
	font-size:30px;
	line-height:40px;
	margin:0 8px 0 0;
	padding: 10px 10px;
	background: #606060;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

/* HIGHLIGHT ------------------------------------------------------------*/

.highlight,
.highlight-red,
.highlight-blue,
.highlight-green {
	background:yellow;
	padding:2px 5px;
}

.highlight-red{ 
	background: red;
	color:#fff;
}

.highlight-blue{
	background: blue;
	color:#fff;
}

.highlight-green{
	background: green;
	color:#fff;
}

/* PULLQUOTES ------------------------------------------------------------*/

.pullquote-right,
.pullquote-left {
	border-left: #555555 2px solid;
	float:right;
	font-size:16px;
	line-height:1.5em;
	margin: 20px 0px 20px 20px;
	width:33%;
	font-style: italic;
}

.pullquote-left {
	float:left;
	margin: 20px 20px 20px 0px;
	padding:0 0 0 20px;
}

.pullquote-right{
	border-left: none;
	border-right: #555555 2px solid;
	padding:0 20px 0 0px;
}

/* LINK BUTTON -------------------------------------------------------*/

#content a.link-button,
#content a.link-button-light{
	display: table;
	background: #363636;
	color: #f1f1f1;
	text-decoration: none;
	padding: 3px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

#content a.link-button-light{
	background: #f1f1f1;
	color: #363636;
}

#content a.link-button:hover{ background: #000000; }

#content a.link-button-light:hover{ background: #cecece; }
	
/* TABLE ------------------------------------------------------------*/


/* LISTS ------------------------------------------------------------*/


.lists-check ul,
.lists-arrow ul,
.lists-plus ul,
.lists-star ul,
.lists-heart ul{
	margin-bottom: 30px;
	margin-left: 20px;
}


.lists-check ul li{ 
	list-style-image: url(bullets/check.png);
	line-height: 1.5em;
}
	
.lists-arrow ul{ 
	list-style-image: url(bullets/arrow.png); 
	line-height: 1.5em;
}

.lists-plus ul{ 
	list-style-image: url(bullets/plus.png); 
	line-height: 1.5em;
}

.lists-star ul{ 
	list-style-image: url(bullets/star.png); 
	line-height: 1.5em;
}

.lists-heart ul{ 
	list-style-image: url(bullets/heart.png); 
	line-height: 1.5em;
}


/* INFO BOXES ------------------------------------------------------------*/

.info-add,
.warning-box,
.blue-box,
.error-box,
.download-box,
.favorite-box,
.information-box,
.success-box,
.validation-box,
.fastforward-box,
.rewind-box,
.right-box,
.graphite-box,
.green-box,
.gray-box,
.help-box,
.left-box,
.loop-box,
.message-box,
.orange-box,
.pause-box,
.play-box,
.record-box,
.red-box,
.refresh-box,
.remove-box,
.search-box,
.shuffle-box,
.smart-box,
.back-box,
.forward-box,
.stop-box,
.upload-box
{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.info-add{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('knobs-icons/Knob Add.png');
}

.warning-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('knobs-icons/Knob Attention.png');
}

.blue-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('knobs-icons/Knob Blue.png');
}

.error-box{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('knobs-icons/Knob Cancel.png');
}

.download-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('knobs-icons/Knob Download.png');
}

.favorite-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('knobs-icons/Knob Favorite.png');
}

.information-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('knobs-icons/Knob Info.png');
}

.success-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('knobs-icons/Knob Valid Green.png');
}

.fastforward-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Fast Forward.png');
}

.rewind-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Fast Rewind.png');
}

.right-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('knobs-icons/Knob Forward.png');
}

.graphite-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Graphite.png');
}

.green-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('knobs-icons/Knob Green.png');
}

.gray-box{
	color: #fff;
	background-color: #999999;
	background-image: url('knobs-icons/Knob Grey.png');
}

.help-box{
	color: #fff;
	background-color: #b47bc4;
	background-image: url('knobs-icons/Knob Help.png');
}

.left-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('knobs-icons/Knob Left.png');
}

.loop-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Loop Off.png');
}

.message-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('knobs-icons/Knob Message.png');
}

.orange-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('knobs-icons/Knob Orange.png');
}

.pause-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Pause.png');
}

.play-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Play.png');
}

.record-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Record Off.png');
}

.red-box{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('knobs-icons/Knob Red.png');
}

.refresh-box{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('knobs-icons/Knob Refresh.png');
}

.remove-box{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('knobs-icons/Knob Remove Red.png');
}

.search-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('knobs-icons/Knob Search.png');
}

.shuffle-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Shuffle Off.png');
}

.smart-box{
	color: #fff;
	background-color: #b47bc4;
	background-image: url('knobs-icons/Knob Smart.png');
}

.back-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('knobs-icons/Knob Snapback.png');
}

.forward-box{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('knobs-icons/Knob Snapforward.png');
}

.stop-box{
	color: #ffffff;
	background-color: #57737f;
	background-image: url('knobs-icons/Knob Stop.png');
}

.upload-box{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('knobs-icons/Knob Upload.png');
}