table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.center-smaller-bordered{
  margin-left:auto;
  margin-right: auto;
  width: 500px;
}

.bordered {
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered  a {
  text-decoration: none;
}

.bordered  a:hover {
  text-decoration: underline;
}

.bordered tr:hover {
    background: #f2f1f1;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: none;  /* 1px solid #ccc; */
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left; 
}

.bordered tr{
  background-color: #fff;
}

.bordered td{
  background: url('oblique-light.png');
}

.bordered td:first-child{
  max-width: 350px;
}

td .wrap { 
  position:relative; 
  height:100%; 
  padding-bottom:1em; 
  height:75px;
}

td .date { 
  font-size: 11px;
  text-align:left; 
  position:absolute; 
  bottom:0; 
  left:0; 
}

td .manage { 
  font-size: 11px;
  position:absolute; 
  bottom:0;  
}

tr.total > td {
  height: 30px;
  vertical-align: bottom;
  font-weight: bold;
  border-top-color: #efefef;
  border-top-width: 1px;
  border-top-style: dotted;
  font-size: 12px;
}

td .p{ margin: 0 0 5px 0; }

.bordered th {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #363636, #696969);
    background-image:    -moz-linear-gradient(top, #363636, #696969);
    background-image:     -ms-linear-gradient(top, #363636, #696969);
    background-image:      -o-linear-gradient(top, #363636, #696969);
    background-image:         linear-gradient(top, #363636, #696969);
    border-top: none;
  
    text-align: center;
    font-size: 13px;
    padding: 5px;
    padding-left:10px;
    color:#ffffff;
}


.centered-text{
  text-align: center;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}


/* AIRCRAFT INFO */
.info td {
  text-align: center;
}

.info td:first-child{
  text-align: left;
}

.info tr.last{
  border-top: 1px solid #ababab;
  color: #474747;
  background-color:red;
}

.info td.last{
  height:100;
}


.dynamic-header th.head
{
  text-align: left;
  width:25%;
}

.dynamic-header td.head{
  text-align: left;
  width:25%;
}

.dynamic-header3 th.head
{
  text-align: left;
  width:48%;
}

.right-align-bold{
  text-align: right;
  font-weight: bold;
}

.table-align-top td{
  vertical-align: top;
}

.simple-centered{
  border:0px;
}

.simple-centered th{
  text-align: center;

}

.bordered .centered-text,
.simple-centered td{
  text-align: center;
}

/* weight and balance */
.wb-input-table{
}

.wb-input-table th {
  font-weight: bold;
}

.wb-input-table th,
.wb-input-table td{
  padding:0px;
  margin:0px;
}

.wb-input-table th:first-child,
.wb-input-table td:first-child{
  text-align:right;
  padding-right: 15px;
}

.wb-input-table th:last-child,
.wb-input-table td:last-child{
  text-align:left;  
}


#wb-results{
  width: 420px;
}

#wb-results td{
  border-bottom: 0px;
  padding: 4px;
}


#wb-results td:nth-child(3),
#wb-results td:nth-child(4){
  text-align: right;
}

#wb-results tr:nth-child(even){
  border-bottom: 1px dashed #a9a9a9;
}

#wb-results td .no-border{
  border-bottom: 0px;
}




