<h1>Weight & Balance</h1>


<table>
  <tr>
    <td>Take off weight </td>
    <td><%= @report.to_weight %></td>
    <td>[kg]</td>
  </tr>
  <tr>
    <td>Landing weight</td>
    <td><%= @report.ld_weight %></td>
    <td>[kg]</td>
  </tr>
  <tr>
    <td>Take off fuel</td>
    <td><%= @report.to_fuel %></td>
    <td>[l]</td>
  </tr>
  <tr>
    <td>Landing fuel</td>
    <td><%= @report.ld_fuel %></td>
    <td>[l]</td>
  </tr>
  
  <tr>
    <td>Take of cg</td>
    <td><%= @report.to_cg %></td>
    <td>[m/kg]</td>
  </tr>
  
  <tr>
    <td>Landing cg</td>
    <td><%= @report.ld_cg %></td>
    <td>[m/kg]</td>
  </tr>
</table>