<% if action.eql?("new") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= t(:new) %>
<% end %>

<% if action.eql?("edit") %>
	<%= link_to t(:home), home_path %>
	<%= link_to t(:aircrafts), aircrafts_path %>
  <%= link_to @maker.name, maker_path(@maker) %>
  <%= t(:edit) %>
<% end %>

<% if action.eql?("show") %>
	<%= link_to t(:home), home_path %>
  <%= link_to t(:aircrafts), aircrafts_path %>
  <%= @maker.name %>
<% end %>