<%= form_for(@maker, :html => { :multipart => true }) do |f| %>
  <% if @maker.errors.any? %>
    <p class="error-box">
      <strong><%= pluralize(@maker.errors.count, "error") %> prohibited this maker from being saved:</strong>
      <br/>
      <% @maker.errors.full_messages.each do |msg| %>
        &nbsp;&nbsp;&nbsp; - <%= msg %>
        <br/>
      <% end %>
    </p>
  <% end %>
  
  <h4><%= image_tag "mono-icons/spanner32.png" %> <%= t:maker %></h4>
  <%= image_tag "shadow-1-3.png" %>
  <p><%= t(:new_maker_info) %></p>
  
  <div class="field">
    <%= f.label t(:maker_name) %><br/> 
    <%= f.text_field :name, :class=>"textInput" %>
  </div>
  
  <div class="field">
    <%= f.label t(:maker_logo) %> 
    <%= f.file_field :logo %>
  </div>
  
  <% unless @maker.new_record? %>
    <div class="border-image">
      <%= image_tag @maker.logo.url(:medium) %>
    </div>
  <% end %>
  
  <br/>
  
  <div class="actions">
  <center>
    <%= f.submit%>
    </center>
  </div> 
  
<% end %>
