<% if action.eql?("index") %>
	<span class="title"><%= t :category_makers %></span>
  <span class="subtitle"><%= t(:action_index) %></span>
<% end %>

<% if action.eql?("new") %>
	<span class="title"><%= t(:makers) %></span>
  <span class="subtitle"><%= t(:new) %></span>
<% end %>

<% if action.eql?("edit") %>
	<span class="title"><%= @maker.name %></span>
  <span class="subtitle"><%= t(:edit) %></span>
<% end %>

<% if action.eql?("show") %>
<span class="title"><%= @maker.name %></span>
  <span class="subtitle"><%= t(:maker) %></span>
	
<% end %>