<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "edit"} %>
<% end %>

<!-- actions -->
<ul class="filter">
  <li><%= t(:actions) %></li>
  <li><%= link_to t(:show), @maker %></li>
</ul> 

<!-- page information -->
<h4 class="header-line"><%= t(:edit_maker) %></h4>
<p>
  <%= t(:edit_maker_info) %>
</p>

<div class="clear "></div>

<br/>

<div id="centered-form">
  <div class="rounded-centered">
    <%= render 'form' %>
  </div>  
</div>

