<ul class="filter">
  <li><%= t :maker_add_maker_info, :count=>@makers.count %></li>
  <li><%= link_to t(:maker_add_new_maker), new_maker_path %></li>  
</ul>

<div id="thumbs">
  <% @makers.each do |maker| %>
    
    <div class="thumb">
      <h1><%= link_to maker.name, maker %></h1>
      
      <div class="thumb-details">
      
        <ul class="meta">
		      <li><strong><%=t :misc_last_updated %></strong> <%= l(maker.updated_at.to_date) %></li>
				  <li><strong><%=t :misc_by %></strong> <a href="#">User</a></li> 
				  <li> <strong><%=t :misc_more %></strong> 
				    <div class="meta-tags">
				      <ul>
				        <% if maker.models.count > 0 %>
    	     		    <li>
                    <%= link_to t(:maker_show_models, :count=> maker.models.count), 
                          :controller=>:models, :action=>:index, :maker=>maker.id %>
                          
                    <%= link_to t(:maker_add_model), :controller=>:models, :action=>:new, :maker=>maker.id %>
    	     			  </li>
    	     		  <% else %>
                  <%= link_to t(:maker_no_model).html_safe, :controller=>:models, :action=>:new, :maker=>maker.id %>
    	     		  <% end %>
  						</ul>
  				  </div>
				  </li>
				</ul>
				<!-- ENDS meta -->
        
        <div class="thumb-image">
          <%= image_tag maker.logo.url(:thumb) %>
        </div>
        
      </div>
      <!-- ENDS thumb-details -->
    </div>  
    <!-- ENDS thumb -->
    
  <% end %>  

</div>
<!-- ENDS thumbs -->




