<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "new"} %>
<% end %>

<!-- page information -->
<h4 class="header-line"><%= t(:new_maker) %></h4>
<p>
  <%= t(:maker_new_info) %>
</p>

<div class="clear "></div>

<br/>

<div id="centered-form">
  <div class="rounded-centered">
    <%= render 'form' %>
  </div>  
</div>






