<!-- breadcrumb -->
<% content_for :breadcrumb do %>
	<%= render :partial => "breadcrumb", :locals => {:action => "show"} %>
<% end %>

<!-- actions -->
<% if user_signed_in? %>
  <ul class="filter">
    <li><%= t(:actions) %></li>
    <li><%= link_to t(:edit), edit_maker_path(@maker) %></li>
    <% if current_user.has_role?(:admin) %>
      <li><%= link_to t(:delete), @maker, :confirm => 'Are you sure?', :method => :delete%></li>
    <% end %>
  </ul>
<% end %>

<center>
<p id="notice"><%= notice %></p>
</center>

<!-- maker information -->
<div class="one-half-right-border">
  <h1><%= @maker.name %><h1>
  
  <p id="update-info">
    <%= t(:last_update_on) %> <%= l @maker.updated_at.to_date %> 
    <br/>
    <%= t(:created_on) %> <%= l @maker.created_at.to_date %>
  </p>
  
  <div class="border-image">
    <%= image_tag @maker.logo.url(:medium) %>
  </div>
</div>

<!-- referenced models -->
<div class="one-half last">
  <div class="rounded-centered-smaller">
    <h4><%= image_tag "icons/tag.png" %> <%= t(:referenced_models) %></h4>
    <%= image_tag "shadow-1-3.png" %>
    
    <div id="filtered_models">
      <div class="options">
        <%= link_to image_tag("mono-icons/plus16.png"), new_model_path(:maker=>@maker.id) %>  
      </div>
    
      <% if @maker.models.count > 0 %>
        <% @maker.models.each do |model| %>
          <%= link_to (image_tag "mono-icons/search16.png", :alt=>"show"), model %> 
          <%= link_to model.name, model %><br/>
        <% end %>
      <% else %>
        <%= image_tag "mono-icons/warning16.png", :alt=>"warning" %> 
        <%= (t :no_model_found) %>
      <% end %>
    </div>
  </div>
</div>

<div class="clear "></div>
<!-- ENDS 2 cols -->

