<!DOCTYPE html>
<html>
<head>
  <title>Weight & Balance</title>
  <%= stylesheet_link_tag "application", "ridge", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- WRAPPER -->
	<div id="wrapper">
		
		<!-- HEADER -->
		<div id="header">
			<a href="index.html"><div id="logo"><%= image_tag "logo.png", :alt=>"HOME" %></div></a>
			<!-- i18n -->
			<div id="i18n-holder">
				<ul class="i18n">
				  <li><%= link_to "", build_locale_url('en'), :class => "uk" %></li>
				  <li><%= link_to "", build_locale_url('fr'), :class => "fr" %></li>
				</ul>
			</div>
			<!-- ENDS i18n -->
			
			
			<!-- Navigation -->
			<ul id="nav" class="sf-menu">
				<li><%= link_to t(:home).upcase, home_path %></a></li>
				
				<!-- redirect to sign in page if user is not logged -->
				<% if user_signed_in? %>
  				<li><%= link_to t(:my_account).upcase, user_path(current_user.id)%></a></li>
  		  <% else %>
  		    <li><%= link_to t(:my_account).upcase, new_user_session_path %></a></li>
  		  <% end %>
  		  
				<li><%= link_to t(:aircrafts).upcase, aircrafts_path %></a></li>
				<li><%= link_to t(:mobile).upcase, mobile_path %></a></li>
				<li><%= link_to t(:contact).upcase, contact_path %></a></li>
				<li><%= link_to "FAQ", faq_path %></li>
				
				<% if user_signed_in? && current_user.has_role?(:admin) %>
				  <li><%= link_to "ADMINISTRATION", admin_path %></a></li>
				<% end %>
				
			</ul>
			<!-- Navigation -->	
			
			<!-- search -->
			<div class="top-search">
		    <%= form_tag aircrafts_path, :id=>"searchform", :method => 'get' do %>
          <div>
            <%= text_field_tag :search, params[:search], :id=>"s", :value=>"call sign" %>
            <%= submit_tag "", :name => nil, :id=>"searchsubmit" %>
          </div>
        <% end %>
			</div>
			<!-- ENDS search -->
			
			<!-- Breadcrumb-->
			<div id="breadcrumbs">
				<%= yield :breadcrumb %>
			</div>
			<!-- ENDS Breadcrumb-->	
		  
		  <!-- User login -->	
			<div id="user-login">
        <% if user_signed_in? %>
		      <%= t(:welcome) %> <%= link_to current_user.username, users_path %> :: 
		      <%= link_to t(:sign_out), destroy_user_session_path, :method =>:delete %>
		    <% else %>
		      <%= link_to t(:sign_up), new_user_registration_path %> 
		      ::
		      <%= link_to t(:sign_in), new_user_session_path %> 
  		  <% end %>
			</div>
			<!-- ENDS User login -->

		</div>
		<!-- ENDS HEADER -->
		
		<!-- MAIN -->
		<div id="main">
			
			<!-- content -->
			<div id="content">
			
			 <%= yield :page_title %>
				
				<!-- page-content -->
				<div id="page-content">
          
          <%= yield %>

        </div>
				<!-- ENDS page-content -->
			</div>
			<!-- ENDS content -->
		</div>
		<!-- ENDS MAIN -->
		
		<!-- FOOTER -->
		<div id="footer">
			
			<!-- footer-cols -->
			<ul id="footer-cols">
				<li class="col">
					<h6><%= t(:about) %></h6>
					<%= t(:text_about).html_safe %> (<%= link_to "HEIG-VD", "http://www.heig-vd.ch", :class=>"yellow-link" %>).
				</li>
				<li class="col">
					<h6><%= t(:navigate) %></h6>
					<ul>
						<li><%= link_to t(:home), home_path %></a></li>
				
    				<!-- redirect to sign in page if user is not logged -->
		    		<% if user_signed_in? %>
  			     	<li><%= link_to t(:my_account), user_path(current_user.id)%></a></li>
      		  <% else %>
  	     	    <li><%= link_to t(:my_account), new_user_session_path %></a></li>
      		  <% end %>
  		  
		    		<li><%= link_to t(:aircrafts), aircrafts_path %></a></li>
    				<li><%= link_to t(:contact), contact_path %></a></li>				
					</ul>
				</li>
				<li class="col">
					<h6><%= t(:tools) %></h6>
					<ul>
  					<li><%= link_to t(:mobile), mobile_path %></a></li>
					</ul>
				</li>
			</ul>
			<!-- ENDS footer-cols -->
			
			<!-- Bottom -->
			<div id="bottom">
				2012 - <a href="http://www.heig-vd.ch"> Heig-vd</a> - Blanc

			</div>
			<!-- ENDS Bottom -->
		</div>
		<!-- ENDS FOOTER -->
	</div>
	<!-- ENDS WRAPPER -->


</body>
</html>
